//- Bootstrap part
#b.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Bootstrap title
            h3 Bootstrap
            hr.icons-fa
            .row

              //- Bootstrap course
              .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/59300332" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/css/prenez-en-main-bootstrap.jpg" alt="Certificat de Cours - Philippe Beck - Prenez en main Bootstrap")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/prenez-en-main-bootstrap" target="_blank" title="Accès au cours") Prenez en main Bootstrap

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
