//- Marketing modal
#com.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl

    //- Marketing part
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Marketing title
            h3 Marketing
            hr.icons-fa
            .row

              //- SEO course
              .col-md-offset-2.col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/88331048" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/com/les-cles-pour-reussir-son-referencement-web.jpg" alt="Certificat de Cours - Philippe Beck - Les clés pour réussir son référencement web")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/les-cles-pour-reussir-son-referencement-web" target="_blank" title="Accès au cours") Les clés pour réussir son référencement web

              //- Twitter course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/3811524438" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/com/animez-une-communaute-twitter.jpg" alt="Certificat de Cours - Philippe Beck - Animez une communauté Twitter")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/animez-une-communaute-twitter" target="_blank" title="Accès au cours") Animez une communauté Twitter

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
