//- Dev part
#dev.courses-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Development title
            h2 Développement
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/dev.png" alt="Icône Développement")

            .row

              //- Java certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/67799028" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_apprenez-a-programmer-en-java.jpg" alt="Certificat Philippe Beck Apprenez à programmer en Java")

              //- Java EE certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/4451779192" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_developpez-des-sites-web-avec-java-ee.jpg" alt="Certificat Philippe Beck Développez des sites web avec Java EE")

              //- Java's collections certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/44410827" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_java-et-les-collections.jpg" alt="Certificat Philippe Beck Java et les collections")

              //- Java's annotations certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/87052328" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_java-et-les-annotations.jpg" alt="Certificat Philippe Beck Java et les annotations")

              //- Java's multithreading certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/51692375" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_java-et-le-multithreading.jpg" alt="Certificat Philippe Beck Java et le multithreading")

              //- Java's network certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8055073" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_java-et-la-programmation-reseau.jpg" alt="Certificat Philippe Beck Java et la programmation réseau")

              //- Java's XML certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/39743255" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_java-et-le-xml.jpg" alt="Certificat Philippe Beck Java et le XML")

              //- XML certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/65656798" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_structurez-vos-donnees-avec-xml.jpg" alt="Certificat Philippe Beck Structurez vos données avec XML")

              //- UML certificate
              .col-sm-6.col-sm-offset-3.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/30182201" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/dev/certificat_philippe-beck_debutez-l-analyse-logicielle-avec-uml.jpg" alt="Certificat Philippe Beck Débutez l'analyse logicielle avec UML")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
