//- Dev part
#development.certificate-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Development title
            h3 Développement
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/development.png" alt="Icône Développement")

            .row


              //- Git certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/32604883" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_gerer-son-code-avec-git-et-github.jpg" alt="Certificat de Réussite Philippe Beck Gérez votre code avec Git et GitHub")

              //- XML certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/65656798" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_structurez-vos-donnees-avec-xml.jpg" alt="Certificat de Réussite Philippe Beck Structurez vos données avec XML")

              //- UML certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/30182201" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_debutez-l-analyse-logicielle-avec-uml.jpg" alt="Certificat de Réussite Philippe Beck Débutez l'analyse logicielle avec UML")

              //- Update certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/9891690250" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_maintenez-vous-a-jour-en-developpement.jpg" alt="Certificat de Réussite Philippe Beck Maintenez-vous à jour en développement")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
