#development.skills-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body
            h2 Développement
            hr.star-primary
            img.img-responsive.img-centered(src="images/skills/development.png" alt="")
            .row
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/31063021" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_lancez-vous-dans-la-programmation-avec-ruby.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/67799028" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_apprenez-a-programmer-en-java.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/39743255" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_java-et-le-xml.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/44410827" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_java-et-les-collections.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/87052328" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_java-et-les-annotations.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/51692375" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_java-et-le-multithreading.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8055073" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_java-et-la-programmation-reseau.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/32604883" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_gerer-son-code-avec-git-et-github.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3448711" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_administrez-vos-bases-de-donnees-avec-mysql.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/65656798" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_structurez-vos-donnees-avec-xml.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/30182201" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/development/certificat_philippe-beck_debutez-l-analyse-logicielle-avec-uml.jpg" alt="")
            button.btn.btn-default(type="button" data-dismiss="modal")
              span.fa.fa-times  Close
