//- Initiation part
#initiation.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Initiation title
            h3 Initiation
            hr.icons-fa

            .row

              //- Wordpress certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2791030531" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_realisez-des-sites-modernes-et-beaux-grace-a-wordpress.jpg" alt="Certificat de Réussite Philippe Beck Réalisez des sites modernes et beaux grâce à WordPress")

              //- Wordpress initiation certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6208001863" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_creez-votre-premier-site-avec-wordpress.jpg" alt="Certificat de Réussite Philippe Beck Créez votre premier site avec WordPress")

              //- CMS certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2973509781" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/initiation/certificat_philippe-beck_decouvrez-les-solutions-cms.jpg" alt="Certificat de Réussite Philippe Beck Découvrez les solutions CMS")

              //- Web certificate
              .col-md-offset-2.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/32748867" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/initiation/certificat_philippe-beck_comprendre-le-web.jpg" alt="Certificat de Réussite Philippe Beck Comprendre le Web")

              //- Security certificate
              .col-md-offset-0.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/25989454" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/initiation/certificat_philippe-beck_apprenez-a-naviguer-en-securite-sur-internet.jpg" alt="Certificat de Réussite Philippe Beck Apprenez à naviguer en sécurité sur Internet")

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
