#initiation.skills-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body
            h2 Initiation
            hr.star-primary
            img.img-responsive.img-centered(src="images/skills/initiation.png" alt="Icone Initiation")
            .row
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/32748867" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/initiation/certificat_philippe-beck_comprendre-le-web.jpg" alt="Certificat Philippe Beck Comprendre le Web")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/25989454" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/initiation/certificat_philippe-beck_apprenez-a-naviguer-en-securite-sur-internet.jpg" alt="Certificat Philippe Beck Apprenez à naviguer en sécurité sur Internet")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2973509781" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/initiation/certificat_philippe-beck_decouvrez-les-solutions-cms.jpg" alt="Certificat Philippe Beck Découvrez les solutions CMS")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6208001863" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/initiation/certificat_philippe-beck_creez-votre-premier-site-avec-wordpress.jpg" alt="Certificat Philippe Beck Créez votre premier site avec WordPress")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2791030531" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/initiation/certificat_philippe-beck_realisez-des-sites-modernes-et-beaux-grace-a-wordpress.jpg" alt="Certificat Philippe Beck Réalisez des sites modernes et beaux grâce à WordPress")

            button.btn.btn-default(type="button" data-dismiss="modal")
              span.fa.fa-times  Close
