//- Java part
#java.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Java title
            h3 Java
            hr.icons-fa

            .row

              //- Java EE course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/4451779192" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/developpez-des-sites-web-avec-java-ee.jpg" alt="Certificat de Cours Philippe Beck Développez des sites web avec Java EE")
                  a(target="_blank" href="https://openclassrooms.com/courses/developpez-des-sites-web-avec-java-ee" title="Accès au cours")
                    figcaption Développez des sites web avec Java EE

              //- Java course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/67799028" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/apprenez-a-programmer-en-java.jpg" alt="Certificat de Cours Philippe Beck Apprenez à programmer en Java")
                  a(target="_blank" href="https://openclassrooms.com/courses/apprenez-a-programmer-en-java" title="Accès au cours")
                    figcaption Apprenez à programmer en Java

              //- Java's network course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/8055073" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-la-programmation-reseau.jpg" alt="Certificat de Cours Philippe Beck Java et la programmation réseau")
                  a(target="_blank" href="https://openclassrooms.com/courses/java-et-la-programmation-reseau" title="Accès au cours")
                    figcaption Java et la programmation réseau

              //- Java's multithreading course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/51692375" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-le-multithreading.jpg" alt="Certificat de Cours Philippe Beck Java et le multithreading")
                  a(target="_blank" href="https://openclassrooms.com/courses/java-et-le-multithreading" title="Accès au cours")
                    figcaption Java et le multithreading

              //- Java's collections course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/44410827" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-les-collections.jpg" alt="Certificat de Cours Philippe Beck Java et les collections")
                  a(target="_blank" href="https://openclassrooms.com/courses/java-et-les-collections" title="Accès au cours")
                    figcaption Java et les collections

              //- Java's annotations course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/87052328" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-les-annotations.jpg" alt="Certificat de Cours Philippe Beck Java et les annotations")
                  a(target="_blank" href="https://openclassrooms.com/courses/java-et-les-annotations" title="Accès au cours")
                    figcaption Java et les annotations

              //- Java's XML course
              .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/39743255" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-le-xml.jpg" alt="Certificat de Cours Philippe Beck Java et le XML")
                  a(target="_blank" href="https://openclassrooms.com/courses/java-et-le-xml" title="Accès au cours")
                    figcaption Java et le XML

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
