//- Java part
#java.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Java title
            h3 Java
            hr.icons-fa

            .row

              //- Java EE course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/4451779192" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/developpez-des-sites-web-avec-java-ee.jpg" alt="Certificat de Cours Philippe Beck Développez des sites web avec Java EE")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/developpez-des-sites-web-avec-java-ee" target="_blank" title="Accès au cours") Développez des sites web avec Java EE

              //- Java course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/67799028" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/apprenez-a-programmer-en-java.jpg" alt="Certificat de Cours Philippe Beck Apprenez à programmer en Java")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/apprenez-a-programmer-en-java" target="_blank" title="Accès au cours") Apprenez à programmer en Java

              //- Java's network course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/8055073" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-la-programmation-reseau.jpg" alt="Certificat de Cours Philippe Beck Java et la programmation réseau")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/java-et-la-programmation-reseau" target="_blank" title="Accès au cours") Java et la programmation réseau

              //- Java's multithreading course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/51692375" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-le-multithreading.jpg" alt="Certificat de Cours Philippe Beck Java et le multithreading")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/java-et-le-multithreading" target="_blank" title="Accès au cours") Java et le multithreading

              //- Java's collections course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/44410827" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-les-collections.jpg" alt="Certificat de Cours Philippe Beck Java et les collections")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/java-et-les-collections" target="_blank" title="Accès au cours") Java et les collections

              //- Java's annotations course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/87052328" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-les-annotations.jpg" alt="Certificat de Cours Philippe Beck Java et les annotations")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/java-et-les-annotations" target="_blank" title="Accès au cours") Java et les annotations

              //- Java's XML course
              .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/39743255" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/java/java-et-le-xml.jpg" alt="Certificat de Cours Philippe Beck Java et le XML")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/java-et-le-xml" target="_blank" title="Accès au cours") Java et le XML

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page principale" type="button")
              span.fa.fa-times  Fermer
