//- Dev part
#java.certificate-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Java title
            h3 Java
            hr.star-primary

            .row

              //- Java EE certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/4451779192" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_developpez-des-sites-web-avec-java-ee.jpg" alt="Certificat de Réussite Philippe Beck Développez des sites web avec Java EE")

              //- Java certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/67799028" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_apprenez-a-programmer-en-java.jpg" alt="Certificat de Réussite Philippe Beck Apprenez à programmer en Java")

              //- Java's network certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8055073" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_java-et-la-programmation-reseau.jpg" alt="Certificat de Réussite Philippe Beck Java et la programmation réseau")

              //- Java's multithreading certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/51692375" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_java-et-le-multithreading.jpg" alt="Certificat de Réussite Philippe Beck Java et le multithreading")

              //- Java's collections certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/44410827" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_java-et-les-collections.jpg" alt="Certificat de Réussite Philippe Beck Java et les collections")

              //- Java's annotations certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/87052328" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_java-et-les-annotations.jpg" alt="Certificat de Réussite Philippe Beck Java et les annotations")

              //- Java's XML certificate
              .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/39743255" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/dev/certificat_philippe-beck_java-et-le-xml.jpg" alt="Certificat de Réussite Philippe Beck Java et le XML")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
