//- Web dev part
#javascript.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- JavaScript title
            h3 JavaScript
            hr.icons-fa

            .row

              //- Node certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8999446573" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_des-applications-ultra-rapides-avec-node-js.jpg" alt="Certificat de Réussite Philippe Beck Des applications ultra-rapides avec Node.js")

              //- jQuery certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/97682071" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_simplifiez-vos-developpements-javascript-avec-jquery.jpg" alt="Certificat de Réussite Philippe Beck Simplifiez vos développements JavaScript avec jQuery")

              //- JavaScript certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/1406455307" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_creez-des-pages-web-interactives-avec-javascript.jpg" alt="Certificat de Réussite Philippe Beck Créez des pages web interactives avec JavaScript")

              //- jQuery initiation certificate
              .col-md-offset-2.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3312506827" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_introduction-a-jquery.jpg" alt="Certificat de Réussite Philippe Beck Introduction à jQuery")

              //- JavaScript initiation certificate
              .col-md-offset-0.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/48124810" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_apprenez-a-coder-avec-javascript.jpg" alt="Certificat de Réussite Philippe Beck Apprenez à coder avec JavaScript")

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
