//- JavaScript part
#js.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- JavaScript title
            h3 JavaScript
            hr.icons-fa

            .row

              //- Node course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/8999446573" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/des-applications-ultra-rapides-avec-node-js.jpg" alt="Certificat de Cours Philippe Beck Des applications ultra-rapides avec Node.js")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/des-applications-ultra-rapides-avec-node-js" target="_blank" title="Accès au cours") Des applications ultra-rapides avec Node.js

              //- JS Game course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/5127302778" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/creez-un-jeu-de-plateau-tour-par-tour-en-javascript.jpg" alt="Certificat de Cours Philippe Beck Créez un jeu de plateau tour par tour en JavaScript")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/creez-un-jeu-de-plateau-tour-par-tour-en-javascript" target="_blank" title="Accès à l'activité réservée aux membres Premiums d'OpenClassrooms") Créez un jeu de plateau tour par tour en JavaScript

              //- jQuery course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/97682071" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/simplifiez-vos-developpements-javascript-avec-jquery.jpg" alt="Certificat de Cours Philippe Beck Simplifiez vos développements JavaScript avec jQuery")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/simplifiez-vos-developpements-javascript-avec-jquery" target="_blank" title="Accès au cours") Simplifiez vos développements JavaScript avec jQuery

              //- JS course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/1406455307" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/creez-des-pages-web-interactives-avec-javascript.jpg" alt="Certificat de Cours Philippe Beck Créez des pages web interactives avec JavaScript")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/creez-des-pages-web-interactives-avec-javascript" target="_blank" title="Accès au cours") Créez des pages web interactives avec JavaScript

              //- jQuery init course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/3312506827" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/introduction-a-jquery.jpg" alt="Certificat de Cours Philippe Beck Introduction à jQuery")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/introduction-a-jquery-4" target="_blank" title="Accès au cours") Introduction à jQuery

              //- JS init course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/48124810" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/apprenez-a-coder-avec-javascript.jpg" alt="Certificat de Cours Philippe Beck Apprenez à coder avec JavaScript")
                  figcaption
                    a( href="https://openclassrooms.com/courses/apprenez-a-coder-avec-javascript" target="_blank" title="Accès au cours") Apprenez à coder avec JavaScript

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page principale" type="button")
              span.fa.fa-times  Fermer
