//- JavaScript part
#js.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- JavaScript title
            h3 JavaScript
            hr.icons-fa

            .row

              //- Node course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/8999446573" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/des-applications-ultra-rapides-avec-node-js.jpg" alt="Certificat de Cours Philippe Beck Des applications ultra-rapides avec Node.js")
                  a(target="_blank" href="https://openclassrooms.com/courses/des-applications-ultra-rapides-avec-node-js" title="Accès au cours")
                    figcaption Des applications ultra-rapides avec Node.js

              //- jQuery course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/97682071" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/simplifiez-vos-developpements-javascript-avec-jquery.jpg" alt="Certificat de Cours Philippe Beck Simplifiez vos développements JavaScript avec jQuery")
                  a(target="_blank" href="https://openclassrooms.com/courses/simplifiez-vos-developpements-javascript-avec-jquery" title="Accès au cours")
                    figcaption Simplifiez vos développements JavaScript avec jQuery

              //- JavaScript course
              .col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/1406455307" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/creez-des-pages-web-interactives-avec-javascript.jpg" alt="Certificat de Cours Philippe Beck Créez des pages web interactives avec JavaScript")
                  a(target="_blank" href="https://openclassrooms.com/courses/creez-des-pages-web-interactives-avec-javascript" title="Accès au cours")
                    figcaption Créez des pages web interactives avec JavaScript

              //- jQuery initiation course
              .col-md-offset-2.col-md-4.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/3312506827" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/introduction-a-jquery.jpg" alt="Certificat de Cours Philippe Beck Introduction à jQuery")
                  a(target="_blank" href="https://openclassrooms.com/courses/introduction-a-jquery-4" title="Accès au cours")
                    figcaption Introduction à jQuery

              //- JavaScript initiation course
              .col-md-offset-0.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(target="_blank" href="https://openclassrooms.com/course-certificates/48124810" title="Accès au certificat original")
                    img.img-responsive(src="images/course/js/apprenez-a-coder-avec-javascript.jpg" alt="Certificat de Cours Philippe Beck Apprenez à coder avec JavaScript")
                  a(target="_blank" href="https://openclassrooms.com/courses/apprenez-a-coder-avec-javascript" title="Accès au cours")
                    figcaption Apprenez à coder avec JavaScript

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
