//- Management part
#management.courses-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Management title
            h3 Gestion de projet
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/management.png" alt="Icône Gestion de projet")

            .row

              //- Project base certificate
              .col-sm-6.col-sm-offset-3.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/5033047040" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/courses/management/certificat_philippe-beck_decouvrez-les-bases-de-la-gestion-de-projet.jpg" alt="Certificat de Réussite Philippe Beck Découvrez les bases de la gestion de projet")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
