//- Management part
#management.courses-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Management title
            h3 Gestion de projet
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/management.png" alt="Icône Gestion de projet")

            .row

              //- Under construction picture
              .col-xs-12
                img.img-responsive(src="images/under-construction.png" alt="En construction")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
