//- Marketing part
#marketing.certificate-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Marketing title
            h3 Marketing Digital
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/marketing.png" alt="Icône Marketing")

            .row

              //- SEO certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/88331048" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/marketing/certificat_philippe-beck_les-cles-pour-reussir-son-referencement-web.jpg" alt="Certificat de Réussite Philippe Beck Les clés pour réussir son référencement web")

              //- Twitter certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3811524438" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/marketing/certificat_philippe-beck_animez-une-communaute-twitter.jpg" alt="Certificat de Réussite Philippe Beck Animez une communauté Twitter")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
