#marketing.skills-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body
            h2 Marketing
            hr.star-primary
            img.img-responsive.img-centered(src="images/skills/marketing.png" alt="Icone Marketing")
            .row
              .col-sm-6.col-sm-offset-3.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/88331048" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/marketing/certificat_philippe-beck_les-cles-pour-reussir-son-referencement-web.jpg" alt="Certificat Philippe Beck Les clés pour réussir son référencement web")

            button.btn.btn-default(type="button" data-dismiss="modal")
              span.fa.fa-times  Close
