//- Mobile part
#mobile.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Mobile title
            h3 Mobile
            hr.icons-fa
            .row

              //- Ionic course
              .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/2192900343" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/mobile/developpez-une-application-mobile-multi-plateforme-avec-ionic.jpg" alt="Certificat de Cours - Philippe Beck - Développez une application mobile multi-plateforme avec Ionic")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/developpez-une-application-mobile-multi-plateforme-avec-ionic" target="_blank" title="Accès au cours") Développez une application mobile multi-plateforme avec Ionic

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
