//- Mobile dev part
#mobile.courses-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Mobile dev title
            h3 Développement mobile
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/mobile.png" alt="Icône Développement mobile")

            .row

              //- Bluemix certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/76392846" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/courses/mobile/certificat_philippe-beck_deployez-des-applications-dans-le-cloud-avec-ibm-bluemix.jpg" alt="Certificat de Réussite Philippe Beck Déployez des applications dans le cloud avec IBM Bluemix")

              //- Ionic certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2192900343" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/courses/mobile/certificat_philippe-beck_developpez-une-application-mobile-multi-plateforme-avec-ionic.jpg" alt="Certificat de Réussite Philippe Beck Développez une application mobile multi-plateforme avec Ionic")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
