//- Other part
#other.certificate-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Other title
            h3 Autre
            hr.star-primary

            .row

              //- Mentor certificate
              .col-md-offset-2.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2543520126" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/other/certificat_philippe-beck_devenez-mentor-sur-openclassrooms.jpg" alt="Certificat de Réussite Philippe Beck Devenez mentor sur OpenClassrooms")

              //- Math certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/29492177" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/other/certificat_philippe-beck_comprendre-les-factorisations-et-developpements.jpg" alt="Certificat de Réussite Philippe Beck Comprendre les factorisations et developpements")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
