//- Web dev part
#php.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- PHP title
            h3 PHP
            hr.icons-fa

            .row

              //- Symfony2 certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/13958096" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_developpez-votre-site-web-avec-le-framework-symfony2.jpg" alt="Certificat de Réussite Philippe Beck Développez votre site web avec le framework Symfony2")

              //- PHP pro certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/56033456" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_evoluez-vers-une-architecture-php-professionnelle.jpg" alt="Certificat de Réussite Philippe Beck Évoluez vers une architecture PHP professionnelle")

              //- PHP object certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/15958056" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_programmez-en-oriente-objet-en-php.jpg" alt="Certificat de Réussite Philippe Beck Programmez en orienté objet en PHP")

              //- PHP & MySQL certificate
              .col-md-offset-4.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/72787514" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_concevez-votre-site-web-avec-php-et-mysql.jpg" alt="Certificat de Réussite Philippe Beck Concevez votre site web avec PHP et MySQL")

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
