//- PHP part
#php.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- PHP title
            h3 PHP
            hr.icons-fa
            .row

              //- Symfony2 course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/13958096" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/php/developpez-votre-site-web-avec-le-framework-symfony2.jpg" alt="Certificat de Cours - Philippe Beck - Développez votre site web avec le framework Symfony2")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2" target="_blank" title="Accès au cours") Développez votre site web avec le framework Symfony2

              //- PHP pro course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/56033456" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/php/evoluez-vers-une-architecture-php-professionnelle.jpg" alt="Certificat de Cours - Philippe Beck - Évoluez vers une architecture PHP professionnelle")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/evoluez-vers-une-architecture-php-professionnelle" target="_blank" title="Accès au cours") Évoluez vers une architecture PHP professionnelle

              //- PHP object course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/15958056" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/php/programmez-en-oriente-objet-en-php.jpg" alt="Certificat de Cours - Philippe Beck - Programmez en orienté objet en PHP")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/programmez-en-oriente-objet-en-php" target="_blank" title="Accès au cours") Programmez en orienté objet en PHP

              //- PHP & MySQL course
              .col-md-offset-4.col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/72787514" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/php/concevez-votre-site-web-avec-php-et-mysql.jpg" alt="Certificat de Cours - Philippe Beck - Concevez votre site web avec PHP et MySQL")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/concevez-votre-site-web-avec-php-et-mysql" target="_blank" title="Accès au cours") Concevez votre site web avec PHP et MySQL

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
