//- Project part
#project.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Project title
            h3 Projet
            hr.icons-fa

            .row

              //- Project specifications certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/5160146863" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/project/certificat_philippe-beck_realisez-le-cahier-des-charges-d-un-projet-digital.jpg" alt="Certificat de Réussite Philippe Beck Réalisez le cahier des charges d'un projet digital")

              //- Project frame certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/7189192696" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/project/certificat_philippe-beck_apprenez-a-bien-cadrer-un-projet-multimedia.jpg" alt="Certificat de Réussite Philippe Beck Apprenez à bien cadrer un projet multimédia")

              //- Project base certificate
              .col-md-offset-0.col-md-4.col-sm-offset-3.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/5033047040" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/project/certificat_philippe-beck_decouvrez-les-bases-de-la-gestion-de-projet.jpg" alt="Certificat de Réussite Philippe Beck Découvrez les bases de la gestion de projet")

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
