//- Ruby part
#rb.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Ruby title
            h3 Ruby
            hr.icons-fa

            .row

              //- Rails course
              .col-md-offset-2.col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/6689046000" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/rb/initiez-vous-a-ruby-on-rails.jpg" alt="Certificat de Cours Philippe Beck Initiez-vous à Ruby on Rails")
                  figcaption
                    a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/courses/initiez-vous-a-ruby-on-rails" target="_blank" title="Accès au cours") Initiez-vous à Ruby on Rails

              //- Ruby course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/31063021" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/course/rb/lancez-vous-dans-la-programmation-avec-ruby.jpg" alt="Certificat de Cours Philippe Beck Lancez-vous dans la programmation avec Ruby")
                  figcaption
                    a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/courses/lancez-vous-dans-la-programmation-avec-ruby" target="_blank" title="Accès au cours") Lancez-vous dans la programmation avec Ruby

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page principale" type="button")
              span.fa.fa-times  Fermer
