//- Web dev part
#ruby.certificate-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Ruby title
            h3 Ruby
            hr.star-primary

            .row

              //- Rails certificate
              .col-md-offset-2.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6689046000" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_initiez-vous-a-ruby-on-rails.jpg" alt="Certificat de Réussite Philippe Beck Initiez-vous à Ruby on Rails")

              //- Ruby certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/31063021" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_lancez-vous-dans-la-programmation-avec-ruby.jpg" alt="Certificat de Réussite Philippe Beck Lancez-vous dans la programmation avec Ruby")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
