#web-dev.skills-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body
            h2 Web Dev
            hr.star-primary
            img.img-responsive.img-centered(src="images/skills/web-dev.png" alt="")
            .row
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8999446573" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_des-applications-ultra-rapides-avec-node-js.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/97682071" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_simplifiez-vos-developpements-javascript-avec-jquery.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3312506827" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_introduction-a-jquery.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/1406455307" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_creez-des-pages-web-interactives-avec-javascript.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/48124810" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_apprenez-a-coder-avec-javascript.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/59300332" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_prenez-en-main-bootstrap.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/14427758" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_apprenez-a-creer-votre-site-web-avec-html5-et-css3.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6689046000" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_initiez-vous-a-ruby-on-rails.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/4451779192" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_developpez-des-sites-web-avec-java-ee.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/13958096" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_developpez-votre-site-web-avec-le-framework-symfony2.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/56033456" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_evoluez-vers-une-architecture-php-professionnelle.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/15958056" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_programmez-en-oriente-objet-en-php.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/72787514" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_concevez-votre-site-web-avec-php-et-mysql.jpg" alt="")
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/76392846" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web-dev/certificat_philippe-beck_deployez-des-applications-dans-le-cloud-avec-ibm-bluemix.jpg" alt="")
            button.btn.btn-default(type="button" data-dismiss="modal")
              span.fa.fa-times  Close
