//- Web dev part
#web.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Web title
            h3 Web
            hr.icons-fa

            .row

              //- Bootstrap certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/59300332" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_prenez-en-main-bootstrap.jpg" alt="Certificat de Réussite Philippe Beck Prenez en main Bootstrap")

              //- HTML & CSS certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/14427758" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_apprenez-a-creer-votre-site-web-avec-html5-et-css3.jpg" alt="Certificat de Réussite Philippe Beck Apprenez à créer votre site web avec HTML5 et CSS3")

              //- MySQL certificate
              .col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3448711" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_administrez-vos-bases-de-donnees-avec-mysql.jpg" alt="Certificat de Réussite Philippe Beck Administrez vos bases de données avec MySQL")

              //- API certificate
              .col-md-offset-4.col-md-4.col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/7283978932" title="Cliquez pour accéder à l'original en ligne")
                  img.img-responsive(src="images/certificate/web/certificat_philippe-beck_utilisez-des-api-rest-dans-vos-projets-web.jpg" alt="Certificat de Réussite Philippe Beck Utilisez des API REST dans vos projets web")

            //- Close button
            button.btn.btn-primary.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
