//- Web dev part
#web.courses-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-12
          .modal-body

            //- Web dev title
            h2 Développement web
            hr.star-primary
            br
            img.img-responsive.img-centered(src="images/icons/web.png" alt="Icône Développement Web")

            .row

              //- Git certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/32604883" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_gerer-son-code-avec-git-et-github.jpg" alt="Certificat Philippe Beck Gérez votre code avec Git et GitHub")

              //- Node certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/8999446573" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_des-applications-ultra-rapides-avec-node-js.jpg" alt="Certificat Philippe Beck Des applications ultra-rapides avec Node.js")

              //- JavaScript initiation certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/48124810" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_apprenez-a-coder-avec-javascript.jpg" alt="Certificat Philippe Beck Apprenez à coder avec JavaScript")

              //- JavaScript certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/1406455307" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_creez-des-pages-web-interactives-avec-javascript.jpg" alt="Certificat Philippe Beck Créez des pages web interactives avec JavaScript")

              //- jQuery initiation certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3312506827" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_introduction-a-jquery.jpg" alt="Certificat Philippe Beck Introduction à jQuery")

              //- jQuery certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/97682071" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_simplifiez-vos-developpements-javascript-avec-jquery.jpg" alt="Certificat Philippe Beck Simplifiez vos développements JavaScript avec jQuery")

              //- HTML & CSS certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/14427758" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_apprenez-a-creer-votre-site-web-avec-html5-et-css3.jpg" alt="Certificat Philippe Beck Apprenez à créer votre site web avec HTML5 et CSS3")

              //- Bootstrap certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/59300332" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_prenez-en-main-bootstrap.jpg" alt="Certificat Philippe Beck Prenez en main Bootstrap")

              //- Ruby certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/31063021" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_lancez-vous-dans-la-programmation-avec-ruby.jpg" alt="Certificat Philippe Beck Lancez-vous dans la programmation avec Ruby")

              //- Rails certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6689046000" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_initiez-vous-a-ruby-on-rails.jpg" alt="Certificat Philippe Beck Initiez-vous à Ruby on Rails")

              //- PHP & MySQL certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/72787514" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_concevez-votre-site-web-avec-php-et-mysql.jpg" alt="Certificat Philippe Beck Concevez votre site web avec PHP et MySQL")

              //- PHP object certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/15958056" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_programmez-en-oriente-objet-en-php.jpg" alt="Certificat Philippe Beck Programmez en orienté objet en PHP")

              //- PHP pro certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/56033456" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_evoluez-vers-une-architecture-php-professionnelle.jpg" alt="Certificat Philippe Beck Évoluez vers une architecture PHP professionnelle")

              //- Symfony2 certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/13958096" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_developpez-votre-site-web-avec-le-framework-symfony2.jpg" alt="Certificat Philippe Beck Développez votre site web avec le framework Symfony2")

              //- Wordpress initiation certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/6208001863" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_creez-votre-premier-site-avec-wordpress.jpg" alt="Certificat Philippe Beck Créez votre premier site avec WordPress")

              //- Wordpress certificate
              .col-sm-6.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/2791030531" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_realisez-des-sites-modernes-et-beaux-grace-a-wordpress.jpg" alt="Certificat Philippe Beck Réalisez des sites modernes et beaux grâce à WordPress")

              //- MySQL certificate
              .col-sm-6.col-sm-offset-3.col-xs-12
                a(target="_blank" href="https://openclassrooms.com/course-certificates/3448711" title="Cliquez pour l'original")
                  img.img-responsive(src="images/courses/web/certificat_philippe-beck_administrez-vos-bases-de-donnees-avec-mysql.jpg" alt="Certificat Philippe Beck Administrez vos bases de données avec MySQL")

            //- Close button
            button.btn.btn-success.btn-lg(type="button" data-dismiss="modal")
              span.fa.fa-times  Fermer
