//- CSS modal
#css.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl

    //- CSS part
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- CSS title
            h3 CSS
            hr.icons-fa
            .row

              //- HTML & CSS course
              .col-md-offset-2.col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/14427758" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/html/apprenez-a-creer-votre-site-web-avec-html5-et-css3.jpg" alt="Certificat de Cours - Philippe Beck - Apprenez à créer votre site web avec HTML5 et CSS3")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3" target="_blank" title="Accès au cours") Apprenez à créer votre site web avec HTML5 et CSS3

              //- CSS course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://www.sololearn.com/Certificate/1023-4177086/pdf/" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/css/css-fundamentals.jpg" alt="Certificat de Cours - Philippe Beck - CSS Fundamentals")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://www.sololearn.com/Course/CSS/" target="_blank" title="Accès au cours") CSS Fundamentals

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
