//- Development modal
#dev.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl

    //- Development part
    .container-fluid
      .row
        .col-lg-12
          .modal-body

            //- Development title
            h3 Développement
            hr.icons-fa
            .row

              //- Algorithm - OC course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/6583971979" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/decouvrez-le-fonctionnement-des-algorithmes.jpg" alt="Certificat de Cours - Philippe Beck - Découvrez le fonctionnement des algorithmes")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/decouvrez-le-fonctionnement-des-algorithmes" target="_blank" title="Accès au cours") Découvrez le fonctionnement des algorithmes

              //- UML - OC course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/30182201" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/debutez-l-analyse-logicielle-avec-uml.jpg" alt="Certificat de Cours - Philippe Beck - Débutez l'analyse logicielle avec UML")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/debutez-l-analyse-logicielle-avec-uml" target="_blank" title="Accès au cours") Débutez l'analyse logicielle avec UML

              //- XML - OC course
              .col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/65656798" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/structurez-vos-donnees-avec-xml.jpg" alt="Certificat de Cours - Philippe Beck - Structurez vos données avec XML")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/structurez-vos-donnees-avec-xml" target="_blank" title="Accès au cours") Structurez vos données avec XML

              //- Git & GitHub - OC course
              .col-md-offset-2.col-md-4.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/32604883" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/gerer-son-code-avec-git-et-github.jpg" alt="Certificat de Cours - Philippe Beck - Gérez votre code avec Git et GitHub")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/gerer-son-code-avec-git-et-github" target="_blank" title="Accès au cours") Gérez votre code avec Git et GitHub

              //- Update - OC course
              .col-md-offset-0.col-md-4.col-sm-offset-3.col-sm-6
                figure
                  a(data-placement="top" data-toggle="tooltip" href="https://openclassrooms.com/course-certificates/9891690250" target="_blank" title="Accès au certificat original")
                    img.img-responsive(src="images/courses/maintenez-vous-a-jour-en-developpement.jpg" alt="Certificat de Cours - Philippe Beck - Maintenez-vous à jour en développement")
                  figcaption
                    a(data-placement="bottom" data-toggle="tooltip" href="https://openclassrooms.com/courses/maintenez-vous-a-jour-en-developpement" target="_blank" title="Accès au cours") Maintenez-vous à jour en développement

            //- Close button
            button.btn.btn-primary.btn-lg(data-dismiss="modal" data-placement="top" data-toggle="tooltip" title="Retour à la page d'accueil" type="button")
              span.fa.fa-times  Fermer
