/*** COURSE PART ***/

/* Section */
#courses
  border-top $dashed $main-color
  border-bottom $dashed $main-color

/* Title */
#courses .icons-fa:after
  content "\f02d"

/* Frame */
#courses-frame
  animation courses $linear infinite
  border $double $main-color
  box-shadow $box-shadow
  cursor crosshair
  margin 0 15px
  padding 30px

@keyframes courses
  0%
    background-color white
  50%
    background-color silver
  100%
    background-color white

/* Courses */
.courses-item
  margin 20px 0
  text-align center

.courses-link
  cursor crosshair
  display block
  position relative

/* Logos */

#courses img:hover
  transform scale(1.5, 1.5) translate(0, -12%)

/* Labels */
#courses figcaption
  font-size 10px
  margin-top 5px

@media (min-width 768px)
  #courses figcaption
    font-size 13px
