/*** FOOTER PART ***/

/* Networks */
.network
  background-color $main-color
  color white
  padding 20px 0

.network
footer a
.btn-network
  cursor crosshair

.btn-network
  border-radius 100%
  font-size 20px
  height 50px
  line-height 45px
  margin 10px
  text-align center
  width 50px

/* CodePen */
#codepen
  background-color white
  border $solid black
  color black

#codepen:hover
#codepen:focus
#codepen:active
  background-color black
  border $solid white
  color white

/* GitHub */
#github
  background-color white
  border $solid $github
  color $github

#github:hover
#github:focus
#github:active
  background-color $github
  border $solid white
  color white

/* Free Code Camp */
#freecodecamp
  background-color white
  border $solid $freecodecamp
  color $freecodecamp

#freecodecamp:hover
#freecodecamp:focus
#freecodecamp:active
  background-color $freecodecamp
  border $solid white
  color white

/* Stack Overflow */
#stackoverflow
  background-color white
  border $solid $stackoverflow
  color $stackoverflow

#stackoverflow:hover
#stackoverflow:focus
#stackoverflow:active
  background-color $stackoverflow
  border $solid white
  color white

/* LinkedIn */
#linkedin
  background-color white
  border $solid $linkedin
  color $linkedin

#linkedin:hover
#linkedin:focus
#linkedin:active
  background-color $linkedin
  border $solid white
  color white

/* Twitter */
#twitter
  background-color white
  border $solid $twitter
  color $twitter

#twitter:hover
#twitter:focus
#twitter:active
  background-color $twitter
  border $solid white
  color white

/* License */
.license
  background-color $second-color
  padding 10px 0

.license a
  color black
  cursor help

.license a:hover
.license a:focus
.license a:active
  color white
