/*** FORMATIONS PART ***/

/* Section */
#formations
  background $bg-d2

/* Title */
#formations .icons-fa:after
  content "\f19d"

/* Carousel */
#carousel
  border $double $main-color
  box-shadow $box-shadow

/* Indicators */
.carousel-indicators li
  border $solid $second-color

.carousel-indicators .active
  background-color $second-color

/* Arrows */
.glyphicon-chevron-left
.glyphicon-chevron-right
  color $second-color
