/*** HOME PART ***/

/* Section */
#home
  background $bg-d1
  text-align center

/* Picture */
#home img
  margin 30px auto 10px auto
  width 160px

#pro-picture
  -webkit-animation full-opacity $linear
  -moz-animation full-opacity $linear
  -o-animation full-opacity $linear
  animation full-opacity $linear

/* Picture animation */
@keyframes full-opacity
  from
    opacity 0
  to
    opacity 1

/* Titles */
h1
  font-size 24px

h2
  font-size 18px

/* Links */
#home a
  cursor help

/** Desktop effects **/
@media (min-width: 768px)
  /* Titles */
  h1
    font-size 28px

  h2
    font-size 22px

  /* Name */
  #pro-name
    margin-top 15px
    -webkit-animation rl $linear
    -moz-animation rl $linear
    -o-animation rl $linear
    animation rl $linear

  /* Name animation */
  @keyframes rl
    from
      width 125%
    to
      width 100%

  /* Title */
  #pro-title
    -webkit-animation lr $linear
    -moz-animation lr $linear
    -o-animation lr $linear
    animation lr $linear

  /* Infos animation */
  @keyframes lr
    from
      width 75%
    to
      width 100%
