/*** HOME PART ***/

/* Section */
#home
  background $bg-d1
  text-align center

/* Picture */
#home img
  margin auto
  width 160px

/* Titles */
h1
  font-size 24px

h2
  font-size 18px

#pro-infos span
  font-size 14px

/* Medias */
#pro-picture
#pro-video
  -webkit-animation full-opacity $linear
  -moz-animation full-opacity $linear
  -o-animation full-opacity $linear
  animation full-opacity $linear

/* Medias animation */
@keyframes full-opacity
  from
    opacity 0
  to
    opacity 1

/* Links */
#home a
  cursor help

/* Video */
iframe
  border $double $main-color
  box-shadow $box-shadow
  margin 40px

/** Desktop effects **/
@media (min-width: 768px)
  /* Titles */
  h1
    font-size 28px

  h2
    font-size 22px

  #pro-infos span
    font-size 18px

  /* Name */
  #pro-name
    -webkit-animation lr $linear
    -moz-animation lr $linear
    -o-animation lr $linear
    animation lr $linear

  /* Name animation */
  @keyframes lr
    from
      width 50%
    to
      width 100%

  /* Infos */
  #pro-infos
    -webkit-animation rl $linear
    -moz-animation rl $linear
    -o-animation rl $linear
    animation rl $linear

  /* Infos animation */
  @keyframes rl
    from
      width 150%
    to
      width 100%
