/*** HOME PART ***/

/* Section */
#home
  background $bg-d1
  text-align center

/* Picture */
#home img
  margin auto
  width 160px

/* Titles */
h1
  font-size 24px

h2
  font-size 18px

#pro-infos span
  font-size 14px

/* Medias */
#pro-picture
#pro-video
  animation full-opacity $linear

@keyframes full-opacity
  from
    opacity 0
  to
    opacity 1

/* Links */
#home a
  cursor help

/* Video */
iframe
  border $double $main-color
  box-shadow $box-shadow
  margin 40px

/* Desktop effects */
@media (min-width 768px)
  /* Titles */
  h1
    font-size 28px

  h2
    font-size 22px

  #pro-infos span
    font-size 18px

  /* Name */
  #pro-name
    animation lr $linear

  @keyframes lr
    from
      width 40%
    to
      width 100%

  /* Infos */
  #pro-infos
    animation rl $linear

  @keyframes rl
    from
      width 160%
    to
      width 100%
