/*** PATHS PART ***/

/* Section */
#paths
  background $bg-d1

/* Title */
#paths .icons-fa:after
  content "\f19d"

/* Carousel */
#carousel
  border $double $main-color
  box-shadow $box-shadow
  margin 0 15px

/* Indicators */
.carousel-indicators li
  border $solid $second-color

.carousel-indicators .active
  background-color $second-color

/* Captions & Arrows */
.carousel-caption
.glyphicon-chevron-left
.glyphicon-chevron-right
  color $second-color
