/*** PORTFOLIO PART ***/

/* Title */
#portfolio .icons-fa:after
  content "\f0f2"

.portfolio-item
  margin 70px 0

#portfolio img:hover
  transform scale(1.1, 1.1) translate(0, -5%)

#portfolio figcaption
  margin-top 10px

/* Desktop effects */
@media (min-width: 768px)
  #portfolio figcaption
    margin-top 20px
