/*** PROJECTS PART ***/

/* Section */
#projects
  border-top $dashed $main-color
  border-bottom $dashed $main-color

/* Title */
#projects .icons-fa:after
  content "\f0e8"

/* Accordion */
#accordion
  border $double $main-color
  box-shadow $box-shadow

/* Sub-titles */
.panel-title
  font-size 20px

/* Tables */
table
  border $solid $second-color
  box-shadow $box-shadow

/* FED BackGround */
#collapseFED
  background $bg-p01

/* DWJ BackGround */
#collapseDWJ
  background $bg-p02

/* DV BackGround */
#collapseDV
  background $bg-p03

/* DAF BackGround */
#collapseDAF
  background $bg-p04

/* BED BackGround */
#collapseBED
  background $bg-p05

/* EII BackGround */
#collapseEII
  background $bg-p06

/* FSD BackGround */
#collapseFSD
  background $bg-p07

/* Presentations */
#projects p
  background rgba(255, 255, 255, 0.6)
  border $solid $second-color
  box-shadow $box-shadow
  margin 20px 0
  padding 10px
