/*** PROJECTS PART ***/

@media (min-width: 992px)
  #collapseFED
    background $bg-p1

  #collapseDV
    background $bg-p2

  #collapseBED
    background $bg-p3

  #collapseFSD
    background $bg-p4
