/*** PROJECT PART ***/

/* Section */
#projects
  border-top $dashed $main-color
  border-bottom $dashed $main-color

/* Title */
#projects .icons-fa:after
  content "\f0e8"

/* Accordion */
#accordion
  border $double $main-color
  box-shadow $box-shadow

/* Sub-titles */
.panel-title
  font-size 20px

/* Tables */
table
  border $solid $second-color
  box-shadow $box-shadow

/* Presentations */
#projects p
  background rgba(255, 255, 255, 0.6)
  border $solid $second-color
  box-shadow $box-shadow
  margin 20px 0
  padding 10px
