/*** PROJECTS PART ***/

/* FED BackGround */
#collapseFED
  background $bg-p1

/* DV BackGround */
#collapseDV
  background $bg-p2

/* BED BackGround */
#collapseBED
  background $bg-p3

/* FSD BackGround */
#collapseFSD
  background $bg-p4
