//- Main template
extends layout.pug

//- Main content
block content

  //- Home section
  include index/home.pug

  //- Course section
  include index/course.pug

  //- Path section
  include index/path.pug

  //- Degree section
  include index/degree.pug

  //- Contact section
  include index/contact.pug

  //- Modals dialogs for the course section
  include modals/init.pug
  include modals/dev.pug
  include modals/web.pug
  include modals/mobile.pug
  include modals/js.pug
  include modals/rb.pug
  include modals/php.pug
  include modals/java.pug
  include modals/plan.pug
  include modals/com.pug
  include modals/os.pug
  include modals/other.pug
