//- Main template
extends layout.pug

//- Main content
block content

  //- Home section
  include index/home.pug

  //- Courses section
  include index/course.pug

  //- Modals dialogs for the courses section
  include courses/html.pug
  include courses/css.pug
  include courses/b.pug
  include courses/js.pug
  include courses/jquery.pug
  include courses/node.pug
  include courses/py.pug
  include courses/dj.pug
  include courses/rb.pug
  include courses/rails.pug
  include courses/php.pug
  include courses/java.pug
  include courses/sql.pug
  include courses/git.pug
  include courses/wp.pug
  include courses/dev.pug
  include courses/web.pug
  include courses/mobile.pug
  include courses/design.pug
  include courses/plan.pug
  include courses/com.pug
  include courses/os.pug
  include courses/security.pug
  include courses/other.pug

  //- Paths section
  include index/path.pug

  //- Projects section
  include index/project.pug

  //- Contact section
  //- include index/contact.pug
