//- Main template
extends layout.pug

//- Main content
block content
  
  //- Home section
  include index/home.pug
  
  //- Portfolio section
  include index/portfolio.pug
  
  //- Degree section
  include index/degree.pug
  
  //- Projects section
  include index/project.pug
  
  //- Paths section
  include index/path.pug
  
  //- Courses section
  include index/course.pug
  
  //- Modals dialogs for the courses section
  include courses/html.pug
  include courses/css.pug
  include courses/js.pug
  include courses/php.pug
  include courses/py.pug
  include courses/rb.pug
  include courses/java.pug
  include courses/sql.pug
  include courses/dev.pug
  include courses/web.pug
  include courses/plan.pug
  include courses/other.pug
