//- Main template
extends layout.pug

//- Main content
block content

  //- Home section
  include index/home.pug

  //- Courses section
  include index/courses.pug

  //- Formations section
  include index/formations.pug

  //- Projects section
  include index/projects.pug

  //- Contact section
  include index/contact.pug

  //- Modals dialogs for the courses section
  include modals/html.pug
  include modals/css.pug
  include modals/b.pug
  include modals/js.pug
  include modals/jquery.pug
  include modals/node.pug
  include modals/py.pug
  include modals/dj.pug
  include modals/rb.pug
  include modals/rails.pug
  include modals/php.pug
  include modals/java.pug
  include modals/sql.pug
  include modals/git.pug
  include modals/wp.pug
  include modals/dev.pug
  include modals/web.pug
  include modals/mobile.pug
  include modals/design.pug
  include modals/plan.pug
  include modals/com.pug
  include modals/os.pug
  include modals/security.pug
  include modals/other.pug
