//- Main template
extends layout.pug

//- Main content
block content
  
  //- Home section
  include index/home.pug
  
  //- Course section
  include index/course.pug
  
  //- Formation section
  include index/formation.pug
  
  //- Project section
  include index/project.pug
  
  //- Contact section
  include index/contact.pug
  
  //- Modals dialogs for the course section

  //- HTML modal
  include modals/html.pug
  //- CSS modal
  include modals/css.pug
  //- Bootstrap modal
  include modals/b.pug
  //- JavaScript modal
  include modals/js.pug
  //- jQuery modal
  include modals/jquery.pug
  //- Node modal
  include modals/node.pug
  //- Python modal
  include modals/py.pug
  //- Django modal
  include modals/dj.pug
  //- Ruby modal
  include modals/rb.pug
  //- Rails modal
  include modals/rails.pug
  //- PHP modal
  include modals/php.pug
  //- Java modal
  include modals/java.pug
  //- SQL modal
  include modals/sql.pug
  //- Git modal
  include modals/git.pug
  //- WordPress modal
  include modals/wp.pug
  //- Development modal
  include modals/dev.pug
  //- Web modal
  include modals/web.pug
  //- Mobile modal
  include modals/mobile.pug
  //- Design modal
  include modals/design.pug
  //- Project modal
  include modals/plan.pug
  //- Marketing modal
  include modals/com.pug
  //- System modal
  include modals/os.pug
  //- Security modal
  include modals/security.pug
  //- Other modal
  include modals/other.pug
