extends layout

block content

  //- Home Section
  include index/home.pug

  //- Courses Section
  include index/courses.pug

  //- Paths Section
  include index/paths.pug

  //- Projects Section
  include index/projects.pug

  //- Modals Parts
  include modals/initiation.pug
  include modals/dev.pug
  include modals/web.pug
  include modals/mobile.pug
  include modals/management.pug
  include modals/marketing.pug
  include modals/systems.pug
  include modals/other.pug
