//- Main template
extends layout
block content

  //- Home section
  include index/home.pug

  //- Courses section
  include index/courses.pug

  //- Paths section
  include index/paths.pug

  //- Projects section
  include index/projects.pug

  //- Contact section
  include index/contact.pug

  //- Modals dialogs for the courses section
  include modals/initiation.pug
  include modals/dev.pug
  include modals/web.pug
  include modals/mobile.pug
  include modals/management.pug
  include modals/marketing.pug
  include modals/systems.pug
  include modals/other.pug
