extends layout

block content

  //- Home Section
  include index/home.pug

  //- Skills Section
  include index/skills.pug

  //- Formations Section
  include index/formations.pug

  //- Projects Section
  include index/projects.pug

  //- Modals Parts
  include modals/development.pug
  include modals/initiation.pug
  include modals/marketing.pug
  include modals/web-dev.pug
  include modals/systems.pug
  include modals/other.pug
