doctype html
html

  //- Head
  include layout/head.pug

  //- Body for all pages
  body#page-top.index

    //- Header
    include layout/header.pug

    //- Main views
    block content

    //- Scroll to top button
    .scroll-top.page-scroll.hidden-lg.hidden-md.hidden-sm
      a.btn.btn-primary(href="#page-top")
        span.fa.fa-hand-o-up

    //- Footer
    include layout/footer.pug

    //- Scripts
    include layout/scripts.pug
