section#certificate
  .container.text-center

    //- Certificate title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        h2 Certificats
        hr.star-primary
        br

    .row

      //- Initiation part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#initiation" data-toggle="modal" title="Initiation")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/initiation.png" alt="Icône Initiation")
            figcaption Initiation

      //- Development part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#development" data-toggle="modal" title="Développement")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/development.png" alt="Icône Développement")
            figcaption Développement

      //- Web part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#web" data-toggle="modal" title="Web")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/web.png" alt="Icône Web")
            figcaption Web

      //- Mobile part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#mobile" data-toggle="modal" title="Mobile")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/mobile.png" alt="Icône Mobile")
            figcaption Mobile

      //- Project part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#project" data-toggle="modal" title="Projet")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/project.png" alt="Icône Projet")
            figcaption Projet

      //- Marketing part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#marketing" data-toggle="modal" title="Marketing")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/marketing.png" alt="Icône Marketing")
            figcaption Marketing

      //- JavaScript part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#javascript" data-toggle="modal" title="JavaScript")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/javascript.png" alt="Icône JavaScript")
            figcaption JavaScript

      //- Ruby part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#ruby" data-toggle="modal" title="Ruby")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/ruby.png" alt="Icône Ruby")
            figcaption Ruby

      //- PHP part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#php" data-toggle="modal" title="PHP")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/php.png" alt="Icône PHP")
            figcaption PHP

      //- Java part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#java" data-toggle="modal" title="Java")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/java.png" alt="Icône Java")
            figcaption Java

      //- System part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#system" data-toggle="modal" title="Système")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/system.png" alt="Icône Sysème")
            figcaption Système

      //- Other part
      .col-lg-2.col-md-3.col-sm-4.col-xs-6.certificate-item

        a.certificate-link(href="#other" data-toggle="modal" title="Autre")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/other.png" alt="Icône Autre")
            figcaption Autre
