section#contact
  .container.text-center

    //- Contact Title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h2 Contact
          hr.icons-fa

    //- Contact form
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        form(method="post" action="contact/send")

          //- Name field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Nom
                input#name.form-control(type="text" name="name" placeholder="Nom" required data-validation-required-message="Entrez votre nom s'il-vous-plaît.")
                p.help-block.text-danger

          //- Email field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Email
                input#email.form-control(type="email" name="email" placeholder="Email" required data-validation-required-message="Entrez votre adresse email s'il-vous-plaît.")
                p.help-block.text-danger

          //- Phone field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Téléphone
                input#phone.form-control(type="tel" name="tel" placeholder="Téléphone" required data-validation-required-message="Entrez votre numéro de téléphone s'il-vous-plaît.")
                p.help-block.text-danger

          //- Message field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Message
                textarea#message.form-control(rows="2" name="message" placeholder="Message" required data-validation-required-message="Entrez votre adresse email s'il-vous-plaît.")
                p.help-block.text-danger

          //- Submit button
          .form-group
            button.btn.btn-primary.btn-lg.pull-right(type="submit") Envoyer
