section#contact
  .container.text-center

    //- Contact Title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Contact
          hr.icons-fa

    //- Contact form
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        form(method="post" action="contact/send")

          //- Name field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Nom
                input#name.form-control(type="text" name="name" placeholder="Nom" required)

          //- Email field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Email
                input#email.form-control(type="email" name="email" placeholder="Email" required)

          //- Phone field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Téléphone
                input#phone.form-control(type="tel" name="tel" placeholder="Téléphone" required)

          //- Message field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Message
                textarea#message.form-control(rows="2" name="message" placeholder="Message" required)

          //- Submit button
          .form-group
            button.btn.btn-primary.btn-lg.pull-right(type="submit")
              span.fa.fa-paper-plane(aria-hidden="true")  Envoyer
