//- Contact section
section#contact
  .container.text-center

    //- Contact Title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Contact
          hr.icons-fa

    //- Contact form
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        form(action="contact/send" method="post")

          //- Name field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Nom
                input#name.form-control(name="name" placeholder="Nom" required type="text")

          //- Email field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Email
                input#email.form-control(name="email" placeholder="Email" required type="email")

          //- Phone field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Téléphone
                input#phone.form-control(name="tel" placeholder="Téléphone" required type="tel")

          //- Message field
          .row
            .form-group.label-form-group
              .well.well-sm
                label Message
                textarea#message.form-control(name="message" placeholder="Message" required rows="2")

          //- Submit button
          .form-group
            button.btn.btn-primary.btn-lg.pull-right(data-placement="top" data-toggle="tooltip" title="Soumettre le formulaire" type="submit")
              span.fa.fa-paper-plane(aria-hidden="true")  Envoyer
