//- Contact section
section#contact
  .container.text-center

    //- Contact Title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Contact
          hr.icons-fa

    //- Contact form
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        form#form(action="contact/send" method="post")

          //- Name field
          .row
            .form-group.label-form-group
              .well.well-sm.well-contact
                label Nom
                input#name.form-control(name="name" pattern=".{3,}" placeholder="Nom" required title="3 caractères minimum" type="text")

          //- Email field
          .row
            .form-group.label-form-group
              .well.well-sm.well-contact
                label Email
                input#email.form-control(name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$" placeholder="Email" required title="utilisateur@domaine.extension" type="email")

          //- Phone field
          .row
            .form-group.label-form-group
              .well.well-sm.well-contact
                label Téléphone
                input#tel.form-control(name="tel" pattern="[0-9]{10}" placeholder="Téléphone" required title="10 chiffres requis" type="tel")

          //- Subject field
          .row
            .form-group.label-form-group
              .well.well-sm.well-contact
                label Sujet
                input#subject.form-control(name="subject" pattern=".{8,}" placeholder="Sujet" required title="8 caractères minimum" type="text")

          //- Submit button
          .form-group
            button.btn.btn-primary.btn-lg.pull-right(data-placement="top" data-toggle="tooltip" title="Soumettre le formulaire" type="submit")
              span.fa.fa-paper-plane(aria-hidden="true")  Envoyer
