section#course
  .container.text-center

    //- Course title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        h2 Cours
        hr.icons-fa

    .row

      //- Initiation part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#init" data-toggle="modal" title="Initiation")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/initiation.svg" alt="Icône Initiation")
            figcaption Initiation

      //- Development part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#dev" data-toggle="modal" title="Développement")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/development.svg" alt="Icône Développement")
            figcaption Développement

      //- Web part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#web" data-toggle="modal" title="Web")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/web.svg" alt="Icône Web")
            figcaption Web

      //- Mobile part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#mobile" data-toggle="modal" title="Mobile")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/mobile.svg" alt="Icône Mobile")
            figcaption Mobile

      //- Project part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#plan" data-toggle="modal" title="Projet")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/project.svg" alt="Icône Projet")
            figcaption Projet

      //- Marketing part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#com" data-toggle="modal" title="Marketing")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/marketing.svg" alt="Icône Marketing")
            figcaption Marketing

      //- JavaScript part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#js" data-toggle="modal" title="JavaScript")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/javascript.svg" alt="Icône JavaScript")
            figcaption JavaScript

      //- Ruby part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#rb" data-toggle="modal" title="Ruby")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/ruby.svg" alt="Icône Ruby")
            figcaption Ruby

      //- PHP part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#php" data-toggle="modal" title="PHP")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/php.svg" alt="Icône PHP")
            figcaption PHP

      //- Java part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#java" data-toggle="modal" title="Java")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/java.svg" alt="Icône Java")
            figcaption Java

      //- System part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#os" data-toggle="modal" title="Système")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/system.svg" alt="Icône Sysème")
            figcaption Système

      //- Other part
      .col-md-2.col-sm-3.col-xs-4.course-item

        a.course-link(href="#other" data-toggle="modal" title="Autre")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/other.svg" alt="Icône Autre")
            figcaption Autre
