//- Courses section
section#courses
  .container.text-center

    //- Courses title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Cours
          hr.icons-fa

    //- Courses animation
    #courses-frame.main-container.row

      //- HTML courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#html" data-toggle="modal" title="HTML")
          figure
            img.img-responsive(src="images/icons/html.svg" alt="Icône HTML")
            figcaption HTML
      
      //- CSS courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#css" data-toggle="modal" title="CSS")
          figure
            img.img-responsive(src="images/icons/css.svg" alt="Icône CSS")
            figcaption CSS
      
      //- Bootstrap courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#b" data-toggle="modal" title="Bootstrap")
          figure
            img.img-responsive(src="images/icons/b.svg" alt="Icône Bootstrap")
            figcaption Bootstrap
      
      //- JS courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#js" data-toggle="modal" title="JavaScript")
          figure
            img.img-responsive(src="images/icons/js.svg" alt="Icône JavaScript")
            figcaption JavaScript

      //- jQuery courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#jquery" data-toggle="modal" title="jQuery")
          figure
            img.img-responsive(src="images/icons/jquery.svg" alt="Icône jQuery")
            figcaption jQuery
      
      //- Node courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#node" data-toggle="modal" title="Node")
          figure
            img.img-responsive(src="images/icons/node.svg" alt="Icône Node")
            figcaption Node

      //- PY courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#py" data-toggle="modal" title="Python")
          figure
            img.img-responsive(src="images/icons/py.svg" alt="Icône Python")
            figcaption Python

      //- Django courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#dj" data-toggle="modal" title="Django")
          figure
            img.img-responsive(src="images/icons/dj.svg" alt="Icône Django")
            figcaption Django

      //- RB courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#rb" data-toggle="modal" title="Ruby")
          figure
            img.img-responsive(src="images/icons/rb.svg" alt="Icône Ruby")
            figcaption Ruby

      //- Rails courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#rails" data-toggle="modal" title="Rails")
          figure
            img.img-responsive(src="images/icons/rails.svg" alt="Icône Rails")
            figcaption Rails

      //- PHP courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#php" data-toggle="modal" title="PHP")
          figure
            img.img-responsive(src="images/icons/php.svg" alt="Icône PHP")
            figcaption PHP

      //- Java courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#java" data-toggle="modal" title="Java")
          figure
            img.img-responsive(src="images/icons/java.svg" alt="Icône Java")
            figcaption Java

      //- SQL courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#sql" data-toggle="modal" title="SQL")
          figure
            img.img-responsive(src="images/icons/sql.svg" alt="Icône SQL")
            figcaption SQL

      //- Git courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#git" data-toggle="modal" title="Git")
          figure
            img.img-responsive(src="images/icons/git.svg" alt="Icône Git")
            figcaption Git

      //- WordPress courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#wp" data-toggle="modal" title="WordPress")
          figure
            img.img-responsive(src="images/icons/wp.svg" alt="Icône WordPress")
            figcaption WordPress

      //- Development courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#dev" data-toggle="modal" title="Développement")
          figure
            img.img-responsive(src="images/icons/dev.svg" alt="Icône Développement")
            figcaption Dev

      //- Web courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#web" data-toggle="modal" title="Web")
          figure
            img.img-responsive(src="images/icons/web.svg" alt="Icône Web")
            figcaption Web

      //- Mobile courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#mobile" data-toggle="modal" title="Mobile")
          figure
            img.img-responsive(src="images/icons/mobile.svg" alt="Icône Mobile")
            figcaption Mobile

      //- Design courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#design" data-toggle="modal" title="Design")
          figure
            img.img-responsive(src="images/icons/design.svg" alt="Icône Design")
            figcaption Design

      //- Project courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#plan" data-toggle="modal" title="Projet")
          figure
            img.img-responsive(src="images/icons/plan.svg" alt="Icône Projet")
            figcaption Projet

      //- Marketing courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#com" data-toggle="modal" title="Marketing")
          figure
            img.img-responsive(src="images/icons/com.svg" alt="Icône Marketing")
            figcaption Marketing

      //- System courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#os" data-toggle="modal" title="Système")
          figure
            img.img-responsive(src="images/icons/os.svg" alt="Icône Système")
            figcaption Système

      //- Security courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#security" data-toggle="modal" title="Sécurité")
          figure
            img.img-responsive(src="images/icons/security.svg" alt="Icône Sécurité")
            figcaption Sécurité

      //- Other courses
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.courses-item
        a.courses-link(href="#other" data-toggle="modal" title="Autre")
          figure
            img.img-responsive(src="images/icons/other.svg" alt="Icône Autre")
            figcaption Autre
