section#course
  .container.text-center

    //- Course title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        h3 Cours
        hr.icons-fa

    .row

      //- HTML part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#html" data-toggle="modal" title="HTML")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/html.svg" alt="Icône HTML")
            figcaption HTML
      
      //- CSS part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#css" data-toggle="modal" title="CSS")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/css.svg" alt="Icône CSS")
            figcaption CSS
      
      //- Bootstrap part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#b" data-toggle="modal" title="Bootstrap")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/b.svg" alt="Icône Bootstrap")
            figcaption Bootstrap
      
      //- JS part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#js" data-toggle="modal" title="JavaScript")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/js.svg" alt="Icône JavaScript")
            figcaption JavaScript

      //- jQuery part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#jquery" data-toggle="modal" title="jQuery")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/jquery.svg" alt="Icône jQuery")
            figcaption jQuery
      
      //- Node part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#node" data-toggle="modal" title="Node")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/node.svg" alt="Icône Node")
            figcaption Node

      //- PY part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#py" data-toggle="modal" title="Python")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/py.svg" alt="Icône Python")
            figcaption Python

      //- Django part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#dj" data-toggle="modal" title="Django")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/dj.svg" alt="Icône Django")
            figcaption Django

      //- RB part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#rb" data-toggle="modal" title="Ruby")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/rb.svg" alt="Icône Ruby")
            figcaption Ruby

      //- Rails part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#rails" data-toggle="modal" title="Rails")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/rails.svg" alt="Icône Rails")
            figcaption Rails

      //- PHP part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#php" data-toggle="modal" title="PHP")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/php.svg" alt="Icône PHP")
            figcaption PHP

      //- Java part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#java" data-toggle="modal" title="Java")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/java.svg" alt="Icône Java")
            figcaption Java

      //- SQL part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#sql" data-toggle="modal" title="SQL")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/sql.svg" alt="Icône SQL")
            figcaption SQL

      //- Git part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#git" data-toggle="modal" title="Git")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/git.svg" alt="Icône Git")
            figcaption Git

      //- WordPress part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#wp" data-toggle="modal" title="WordPress")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/wp.svg" alt="Icône WordPress")
            figcaption WordPress

      //- Development part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#dev" data-toggle="modal" title="Développement")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/dev.svg" alt="Icône Développement")
            figcaption Dev

      //- Web part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#web" data-toggle="modal" title="Web")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/web.svg" alt="Icône Web")
            figcaption Web

      //- Mobile part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#mobile" data-toggle="modal" title="Mobile")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/mobile.svg" alt="Icône Mobile")
            figcaption Mobile

      //- Design part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#design" data-toggle="modal" title="Design")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/design.svg" alt="Icône Design")
            figcaption Design

      //- Project part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#plan" data-toggle="modal" title="Projet")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/plan.svg" alt="Icône Projet")
            figcaption Projet

      //- Marketing part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#com" data-toggle="modal" title="Marketing")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/com.svg" alt="Icône Marketing")
            figcaption Marketing

      //- System part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#os" data-toggle="modal" title="Système")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/os.svg" alt="Icône Système")
            figcaption Système

      //- Security part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#security" data-toggle="modal" title="Sécurité")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/security.svg" alt="Icône Sécurité")
            figcaption Sécurité

      //- Other part
      .col-lg-1.col-md-2.col-sm-3.col-xs-4.course-item
        a.course-link(href="#other" data-toggle="modal" title="Autre")
          .search-container
            .search-icon
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/other.svg" alt="Icône Autre")
            figcaption Autre
