section#courses
  .container

    //- Courses title
    .row
      .col-lg-12.text-center
        h2 Certificats de Cours
        hr.star-primary
        br

    .row.text-center

      //- Initiation part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#initiation" data-toggle="modal" title="Initiation numérique")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/initiation.png" alt="Icône Initiation numérique")
            figcaption Initiation numérique

      //- Development part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#dev" data-toggle="modal" title="Développement")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/dev.png" alt="Icône Développement")
            figcaption Développement

      //- Web dev part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#web" data-toggle="modal" title="Développement web")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/web.png" alt="Icône Développement web")
            figcaption Développement web

      //- Mobile dev part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#mobile" data-toggle="modal" title="Développement mobile")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/mobile.png" alt="Icône Développement mobile")
            figcaption Développement mobile

      //- Management part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#management" data-toggle="modal" title="Gestion de projet")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/management.png" alt="Icône Gestion de projet")
            figcaption Gestion de projet

      //- Marketing part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#marketing" data-toggle="modal" title="Marketing digital")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/marketing.png" alt="Icône Marketing digital")
            figcaption Marketing digital

      //- Systems part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#systems" data-toggle="modal" title="Systèmes et réseaux")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/systems.png" alt="Icône Sysèmes et réseaux")
            figcaption Systèmes et réseaux

      //- Other part
      .col-sm-3.col-xs-6.courses-item
        a.courses-link(href="#other" data-toggle="modal" title="Autre")
          .caption
            .caption-content
              span.fa.fa-search-plus.fa-3x
          figure
            img.img-responsive(src="images/icons/other.png" alt="Icône Autre")
            figcaption Autre
