//- Degree section
section#degree
  .container.text-center

    //- Degree title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Diplôme
          hr.icons-fa

    //- Degree part
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        
        //- 
        .panel.panel-primary.main-container
          .panel-heading
            h4.panel-title Développeur intégrateur en réalisation d'applications Web
          .panel-body Diplôme de niveau III (bac +2)
            br
            a(data-placement="right" data-toggle="tooltip" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468" target="_blank" title="Voir la fiche RNCP") Certification RNCP N° 25468
            br
            |  (obtention prévue fin novembre 2017)
            hr
            a(data-placement="right" data-toggle="tooltip" href="https://3wa.fr/la-formation-developpeur-php" target="_blank" title="Formation développeur Web")  5 technologies :
            br
            |  HTML / CSS / JavaScript / PHP / MySQL
          .panel-footer Formation proposée par
            a(data-placement="right" data-toggle="tooltip" href="https://3wa.fr" target="_blank" title="L'école")  3W Academy
