//- Degree section
section#degree
  .container.text-center

    //- Degree title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Formation
          hr.icons-fa

    //- Degree part
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        
        //- 
        .panel.panel-primary.main-container
          .panel-heading
            h4.panel-title Développeur intégrateur en réalisation d'applications Web
          .panel-body
            p
              a(data-placement="right" data-toggle="tooltip" href="https://3wa.fr/la-formation-developpeur-php/technologies" target="_blank" title="Technologies Web")  5 technologies
              br
              |  HTML / CSS / JavaScript / PHP / MySQL
            p
              a(data-placement="right" data-toggle="tooltip" href="https://3wa.fr/la-formation-developpeur-php" target="_blank" title="Formation développeur PHP")  3 mois
              br
              |  du 4 Septembre au 27 Novembre 2017
            p
              a(data-placement="right" data-toggle="tooltip" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468" target="_blank" title="Voir la fiche RNCP") 1 Diplôme
              br
              |  Certification RNCP N° 25468
          .panel-footer 
            p
              a(data-placement="right" data-toggle="tooltip" href="https://3wa.fr" target="_blank" title="L'école")
                img(src="images/3WA.png" alt="Icône 3W Academy")
