section#degree
  .container

    //- Degree title
    .row
      .col-lg-12.text-center
        h2 Diplôme
        hr.star-primary
        br

    .row

      //- Degree introduction
      .col-lg-6
        p Dans le cadre de la formation
          a(target="_blank" href="https://openclassrooms.com/paths/developpeur-web-junior")  Développeur Web Junior
          | , enregistrée au
          a(target="_blank" href="http://www.rncp.cncp.gouv.fr/")  RNCP
          |  sous le code
          a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468")  25468
          |  , et proposée par
          a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms
          |  en partenariat avec
          a(target="_blank" href="https://3wa.fr/")  3W Academy...
        p Voici la liste des 5 projets qui doivent être réalisés pour obtenir ce diplôme, chaque élément de cette liste sera modifié en lien vers le projet lui-même lorsque celui-ci sera terminé.

      //- Degree projects list
      .col-lg-6
        p 1 - Intégrez la maquette du site d'une agence web
        p 2 - Créez un thème Wordpress
        p 3 - Concevez une carte intéractive de location de vélos
        p 4 - Créez un blog pour un écrivain
        p 5 - Présentez librement un projet personnel
