section#degree
  .container

    //- Degree title
    .row
      .col-lg-12.text-center
        h2 Diplômes
        hr.star-primary
        br

    .row
      ul.nav.nav-tabs
        li.active
          a(href="#junior" data-toggle="tab" aria-expanded="true")
            h3
              span.fa.fa-plane(aria-hidden="true")  Développeur Web Junior
        li
          a(href="#dev" data-toggle="tab" aria-expanded="false")
            h3
              span.fa.fa-fighter-jet(aria-hidden="true")  Développeur d'Application Frontend
        li
          a(href="#expert" data-toggle="tab" aria-expanded="false")
            h3
              span.fa.fa-space-shuttle(aria-hidden="true")  Expert en Ingénierie Informatique

      #myTabContent.tab-content

        #junior.tab-pane.fade.active.in
          p
            //- 1st Degree introduction
            .col-lg-12
              p.text-center Voici les 5 projets de la formation
                a(target="_blank" href="https://openclassrooms.com/paths/developpeur-web-junior")  Développeur Web Junior
                | , enregistrée au
                a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=25468")  Répertoire National des Certifications Professionnelles
                | , et proposée par
                a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms
                |  en partenariat avec
                a(target="_blank" href="https://3wa.fr/")  3W Academy...

            //- 1st Degree projects list
            .col-lg-offset-2.col-lg-8
              table.table.table-striped.table-hover
                thead
                  tr.danger
                    th #
                    th Projet
                    th Durée
                tbody
                  tr.success
                    td 1
                    td Intégrez la maquette du site d'une agence web
                    td 60 h
                  tr.info
                    td 2
                    td Créez un thème Wordpress
                    td 72 h
                  tr.success
                    td 3
                    td Concevez une carte intéractive de location de vélos
                    td 100 h
                  tr.info
                    td 4
                    td Créez un blog pour un écrivain
                    td 80 h
                  tr.success
                    td 5
                    td Présentez librement un projet personnel
                    td 100 h

        #dev.tab-pane.fade
          p

            //- 2nd Degree introduction
            .col-lg-12
              p.text-center Voici les 9 projets de la formation
                a(target="_blank" href="https://openclassrooms.com/paths/developpeur-se-d-application-frontend")  Développeur d'Application Frontend
                | , enregistrée au
                a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=27099")  Répertoire National des Certifications Professionnelles
                | , et proposée par
                a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms...

            //- 2nd Degree projects list
            .col-lg-offset-2.col-lg-8
              table.table.table-striped.table-hover
                thead
                  tr.danger
                    th #
                    th Projet
                    th Durée
                tbody
                  tr.success
                    td 1
                    td Apprendre à apprendre
                    td 10 h
                  tr.info
                    td 2
                    td Intégrez un thème WordPress pour un client
                    td 80 h
                  tr.success
                    td 3
                    td Analysez les besoins de votre client pour son festival de films
                    td 80 h
                  tr.info
                    td 4
                    td Concevez la solution technique d'une application de restauration en ligne, Express Food
                    td 100 h
                  tr.success
                    td 5
                    td Imaginez un générateur de citations
                    td 110 h
                  tr.info
                    td 6
                    td Créez un jeu de plateau tour par tour en JS
                    td 130 h
                  tr.success
                    td 7
                    td Lancez votre propre site d'avis de restaurants
                    td 120 h
                  tr.info
                    td 8
                    td Reprenez et améliorez un projet existant
                    td 110 h
                  tr.success
                    td 9
                    td Faites la veille technologique de votre secteur et restez compétitif !
                    td 10 h

        #expert.tab-pane.fade
          p

            //- 3rd Degree introduction
            .col-lg-12
              p.text-center Voici les 9 projets de la formation
                a(target="_blank" href="https://openclassrooms.com/paths/expert-e-en-ingenierie-informatique")  Expert en Ingénierie Informatique
                | , enregistrée au
                a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=21947")  Répertoire National des Certifications Professionnelles
                | , et proposée par
                a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms
                |  en partenariat avec
                a(target="_blank" href="http://www.sciences-u-lyon.fr/")  Sciences-U Lyon...


            //- 3rd Degree projects list
            .col-lg-offset-2.col-lg-8
              table.table.table-striped.table-hover
                thead
                  tr.danger
                    th #
                    th Projet
                    th Durée
                tbody
                  tr.success
                    td 1
                    td Apprendre à apprendre
                    td 10 h
                  tr.info
                    td 2
                    td 24h dans la vie d'un expert
                    td 10 h
                  tr.success
                    td 3
                    td Proposez une organisation pour une équipe technique
                    td 110 h
                  tr.info
                    td 4
                    td Planifiez un nouveau projet informatique
                    td 110 h
                  tr.success
                    td 5
                    td Montez une architecture serveur sur le Cloud
                    td 120 h
                  tr.info
                    td 6
                    td Lancez votre startup en tant que CTO
                    td 70 h
                  tr.success
                    td 7
                    td Définissez le périmètre d'une application de gestion
                    td 150 h
                  tr.info
                    td 8
                    td Développez votre propre projet d'application mobile
                    td 160 h
                  tr.success
                    td 9
                    td Faites la veille technologique de votre secteur et restez compétitif !
                    td 10 h
