section#diploma.success
  .container

    //- Diploma title
    .row
      .col-lg-12.text-center
        h2 Parcours
        hr.star-light
        br

    .row

      //- Node certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/3258888279" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_deployez-vos-applications-node-js-sur-le-cloud-d-ibm-bluemix.jpg" alt="Certificat de Réussite Philippe Beck Déployez vos applications Node.js sur le Cloud d’IBM Bluemix")

      //- Java certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/1660110749" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_devenez-incollable-en-java.jpg" alt="Certificat de Réussite Philippe Beck Devenez incollable en Java")

      //- Symfony certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/8731315173" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_developpeur-web-php-symfony.jpg" alt="Certificat de Réussite Philippe Beck Développeur Web PHP / Symfony")

      //- PHP certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/9291993677" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_developpez-des-sites-php-professionnels.jpg" alt="Certificat de Réussite Philippe Beck Développez des sites PHP professionnels")

      //- Integration certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/95052421" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_integrateur-web.jpg" alt="Certificat de Réussite Philippe Beck Intégrateur Web")

      //- Web site certificate
      .col-sm-6.col-xs-12
        a.thumbnail(target="_blank" href="https://openclassrooms.com/learning-path-certificates/38026473" title="Cliquez pour accéder à l'original en ligne")
          img.img-responsive(src="images/diploma/certificat_philippe-beck_lancer-son-propre-site-web.jpg" alt="Certificat de Réussite Philippe Beck Lancer son propre site Web")
