//- Home section
section#home
  .container
    .row

      //- Profile name
      #pro-name.col-lg-12.page-scroll
        a.btn.btn-outline(data-placement="left" data-toggle="tooltip" href="#footer" title="Plus d'infos")
          h1 #{title}

      //- Profile picture
      #pro-picture.col-lg-12
        img.img-responsive(src="images/profile.png" alt="Photo de Profil")

      //- Profile title
      #pro-title.col-lg-12
        a.btn.btn-outline(data-placement="right" data-toggle="tooltip" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/" target="_blank" title="Blog OpenClassrooms")
          h2 Développeur Web
