section#home
  .container
    .row

      //- Profile picture
      .col-lg-12
        img.img-responsive(src="images/profile.png" alt="Photo de Profil")

      //- Profile name
      .col-lg-12
        a.btn.btn-outline(target="_blank" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn")
          h1 #{title}

      //- Profile title
      .col-lg-12
        a.btn.btn-outline(target="_blank" href="https://github.com/philippebeck" title="GitHub")
          h2 Développeur

      //- More infos button
      .col-lg-12
        a.btn.btn-outline(target="_blank" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/" title="Blog OC")
          span.fa.fa-hand-o-right  Plus d'Infos
