//- Home section
section#home
  .container
    .row

      //- Profile picture
      #pro-picture.col-lg-12
        img.img-responsive(src="images/profile.png" alt="Photo de Profil")

      //- Profile name
      #pro-name.col-lg-12
        a.btn.btn-outline(data-placement="left" data-toggle="tooltip" href="https://www.linkedin.com/in/philippebeck" target="_blank" title="Curriculum Vitae")
          h1 #{title}

      //- Profile title
      .col-lg-12
        a.btn.btn-outline(data-placement="right" data-toggle="tooltip" href="https://github.com/philippebeck" target="_blank" title="Code Open Source")
          h2 Développeur
            |  
            span.fa.fa-cog.fa-spin

      //- Profile infos
      #pro-infos.col-lg-12
        a.btn.btn-outline(data-placement="bottom" data-toggle="tooltip" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/" target="_blank" title="Blog OpenClassrooms")
          span.fa.fa-hand-o-right  Plus d'Infos
      
      //- Profile video
      #pro-video.col-lg-12
        iframe(src="https://www.youtube.com/embed/L3Hg0XxtJMM" frameborder="0" allowfullscreen)
