section#home
  .container
    .row

      //- Main picture
      .col-lg-12
        img.img-responsive(src="images/profile.png" alt="Photo de Profil")

        //- Main title
        .intro-text
          h1.name #{title}
          hr.star-light
          h2 Développeur JavaScript FullStack
          br

      //- Blog link button
      .col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-lg.btn-outline(target="_blank" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/")
          span.fa.fa-hand-o-right  Plus d'Infos
