section#home
  .container
    .row

      //- Profile picture
      .col-lg-12
        img.img-responsive(src="images/profile.png" alt="Photo de Profil")

      //- Profile name
      .col-lg-12
        a.btn.btn-outline(data-placement="left" data-toggle="tooltip" href="https://openclassrooms.com/membres/abramech" target="_blank" title="OpenClassrooms")
          h1 #{title}

      //- Profile title
      .col-lg-12
        a.btn.btn-outline(data-placement="right" data-toggle="tooltip" href="https://openclassrooms.com/paths/" target="_blank" title="Formations OC")
          h2 Développeur

      //- More infos button
      .col-lg-12
        a.btn.btn-outline(data-placement="bottom" data-toggle="tooltip" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/" target="_blank" title="Blog OC")
          span.fa.fa-hand-o-right  Plus d'Infos
