section#home
  .container
    .row
      .col-lg-12
        img.img-responsive(src="images/profile.png" alt="")
        .intro-text
          h1.name #{title}
          hr.star-light
      .col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-lg.btn-outline(target="_blank" href="http://blog.openclassrooms.com/blog/2015/12/08/whos-mooc-philippe-beck-premium-plus/")
          span.fa.fa-hand-o-right  Plus d'Infos
