//- Paths section
section#paths
  .container.text-center

    //- Paths title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Parcours
          hr.icons-fa

    //- Paths part
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10

        //- Carousel
        #carousel.main-container.carousel.slide(data-ride="carousel")

          //- Carousel indicators
          ol.carousel-indicators
            li.active(data-target="#carousel" data-slide-to="0")
            li(data-target="#carousel" data-slide-to="1")
            li(data-target="#carousel" data-slide-to="2")
            li(data-target="#carousel" data-slide-to="3")
            li(data-target="#carousel" data-slide-to="4")
            li(data-target="#carousel" data-slide-to="5")
            li(data-target="#carousel" data-slide-to="6")

          //- Carousel wrapper for slides
          .carousel-inner(role="listbox")

            //- Node path
            .item.active
              a(href="https://openclassrooms.com/learning-path-certificates/3258888279" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/deployez-vos-applications-node-js-sur-le-cloud-d-ibm-bluemix.jpg" alt="Certificat de Parcours - Philippe Beck - Déployez vos applications Node.js sur le Cloud d’IBM Bluemix")
              .carousel-caption
                h4 Node

            //- Ruby path
            .item
              a(href="https://openclassrooms.com/learning-path-certificates/4762327938" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/simplonline.jpg" alt="Certificat de Parcours - Philippe Beck - Simplonline")
              .carousel-caption
                h4 Rails

            //- Symfony path
            .item
              a(href="https://openclassrooms.com/learning-path-certificates/8731315173" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/developpeur-web-php-symfony.jpg" alt="Certificat de Parcours - Philippe Beck - Développeur Web PHP / Symfony")
              .carousel-caption
                h4 Symfony

            //- PHP path
            .item
              a(href="https://openclassrooms.com/learning-path-certificates/9291993677" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/developpez-des-sites-php-professionnels.jpg" alt="Certificat de Parcours - Philippe Beck - Développez des sites PHP professionnels")
              .carousel-caption
                h4 PHP

            //- Java path
            .item
              a(href="https://openclassrooms.com/learning-path-certificates/1660110749" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/devenez-incollable-en-java.jpg" alt="Certificat de Parcours - Philippe Beck - Devenez incollable en Java")
              .carousel-caption
                h4 Java

            //- Integration path
            .item
              a( href="https://openclassrooms.com/learning-path-certificates/95052421" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/integrateur-web.jpg" alt="Certificat de Parcours - Philippe Beck - Intégrateur Web")
              .carousel-caption
                h4 Bootstrap

            //- Website path
            .item
              a( href="https://openclassrooms.com/learning-path-certificates/38026473" target="_blank" title="Cliquez pour accéder à l'original en ligne")
                img.img-responsive(src="images/paths/lancer-son-propre-site-web.jpg" alt="Certificat de Parcours - Philippe Beck - Lancer son propre site Web")
              .carousel-caption
                h4 HTML &amp; CSS

          //- Carousel left controls
          a.left.carousel-control(href="#carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only  Précédent

          //- Carousel right controls
          a.right.carousel-control(href="#carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only  Suivant
