//- Portfolio section
section#portfolio.white-section
  .container.text-center

    //- Portfolio title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Portfolio
          hr.icons-fa

    //- Portfolio part
    .row
      
      //- philippebeck.net
      figure.col-md-6.portfolio-item
        a(data-placement="top" data-toggle="tooltip" href="http://philippebeck.net" title="Vous êtes sur site")
          img.img-responsive.main-container(src="images/portfolio/philippebeck.jpg" alt="Portfolio")
          a(data-placement="bottom" data-toggle="tooltip" href="https://github.com/philippebeck/philippebeck" target="_blank" title="Voir le code")
            figcaption
              strong philippebeck.net
              br
              | Node/Express (JS)

      //- celestialmaps.org
      figure.col-md-6.portfolio-item
        a(data-placement="top" data-toggle="tooltip" href="http://celestialgalleries.org" target="_blank" title="Site en construction")
          img.img-responsive.main-container(src="images/portfolio/celestialmaps.jpg" alt="Cartes Célestes")
          a(data-placement="bottom" data-toggle="tooltip" href="https://github.com/philippebeck/celestialgalleries" target="_blank" title="Voir le code")
            figcaption
              strong celestialgalleries.org
              br
              | Symfony (PHP)
