//- Portfolio section
section#portfolio.white-section
  .container.text-center

    //- Portfolio title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        .well.well-sm
          h3 Portfolio
          hr.icons-fa

    //- Portfolio part
    .row
