//- Projects section
section#projects
  .container.text-center

    //- Projects title
    .row
      .col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
        h3 Projets
        hr.icons-fa

    //- Projects part
    .container
      #accordion.main-container.panel-group(role="tablist" aria-multiselectable="true")

        //- Collapse frames
        include ../projects/fed.pug
        include ../projects/dv.pug
        include ../projects/bed.pug
        include ../projects/fsd.pug
