// Variables part
@import 'variables'

// Global part
@import 'global'

// Specific parts
@import 'sections/header'
@import 'sections/home'
@import 'sections/portfolio'
@import 'sections/degree'
@import 'sections/project'
@import 'sections/projects'
@import 'sections/path'
@import 'sections/course'
@import 'sections/courses'
@import 'sections/footer'
