body {
  font-family: 'Arima Madurai', Helvetica, sans-serif;
}
section {
  padding: 100px 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Philosopher', Georgia, serif;
  margin: 0;
}
h3 {
  text-transform: uppercase;
}
.icons-fa {
  border: solid 2px #122b40;
  max-width: 250px;
}
.icons-fa:after {
  background: #fff;
  color: #122b40;
  font-family: FontAwesome;
  content: "\f0a3";
  font-size: 25px;
  padding: 0 5px;
  position: relative;
  top: -20px;
}
.well {
  background: #fff;
  border: solid 2px #2e6da4;
  box-shadow: 10px 10px 10px #000;
  margin-bottom: 50px;
}
.btn-outline,
.btn-outline:active,
.btn-primary,
.btn-primary:active {
  background-color: #fff;
  border: solid 2px #2e6da4;
  box-shadow: 10px 10px 10px #000;
  color: #122b40;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2e6da4;
  border: solid 2px #122b40;
  color: #fff;
}
a {
  color: #2e6da4;
}
a:hover,
a:focus,
a:active {
  color: #000080;
  font-weight: bold;
  text-decoration: none;
}
.scroll-top {
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  border-radius: 100%;
  font-size: 20px;
  height: 50px;
  line-height: 35px;
  width: 50px;
}
.navbar-custom {
  background-color: #122b40;
  border: none;
  font-family: 'Philosopher', Georgia, serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:active {
  color: #2e6da4;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
}
.navbar-custom .navbar-nav li a,
.navbar-custom .navbar-nav li a:active {
  color: #fff;
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus {
  color: #2e6da4;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  background-color: #2e6da4;
  color: #fff;
}
.navbar-custom .navbar-toggle,
.navbar-custom .navbar-toggle:active {
  background-color: #fff;
  border: solid 2px #2e6da4;
  color: #122b40;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #2e6da4;
  border: solid 2px #fff;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.2em;
  }
}
#home {
  background: url("../images/backgrounds/bg-d1.jpg") 50% 49%;
  text-align: center;
}
#home img {
  margin: auto;
  width: 160px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
#pro-infos span {
  font-size: 14px;
}
#pro-picture,
#pro-video {
  -webkit-animation: full-opacity 5s linear;
  -moz-animation: full-opacity 5s linear;
  -o-animation: full-opacity 5s linear;
  animation: full-opacity 5s linear;
}
#home a {
  cursor: help;
}
iframe {
  border: double 5px #122b40;
  box-shadow: 10px 10px 10px #000;
  margin: 40px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  #pro-infos span {
    font-size: 18px;
  }
  #pro-name {
    -webkit-animation: lr 5s linear;
    -moz-animation: lr 5s linear;
    -o-animation: lr 5s linear;
    animation: lr 5s linear;
  }
  #pro-infos {
    -webkit-animation: rl 5s linear;
    -moz-animation: rl 5s linear;
    -o-animation: rl 5s linear;
    animation: rl 5s linear;
  }
@-moz-keyframes lr {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
}
@-webkit-keyframes lr {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
}
@-o-keyframes lr {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
}
@keyframes lr {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
}
@-moz-keyframes rl {
    from {
      width: 150%;
    }
    to {
      width: 100%;
    }
}
@-webkit-keyframes rl {
    from {
      width: 150%;
    }
    to {
      width: 100%;
    }
}
@-o-keyframes rl {
    from {
      width: 150%;
    }
    to {
      width: 100%;
    }
}
@keyframes rl {
    from {
      width: 150%;
    }
    to {
      width: 100%;
    }
}
}
@-moz-keyframes full-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes full-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes full-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes full-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#courses {
  border-top: dashed 2px #122b40;
  border-bottom: dashed 2px #122b40;
}
#courses .icons-fa:after {
  content: "\f02d";
}
#courses-frame {
  border: double 5px #122b40;
  box-shadow: 10px 10px 10px #000;
  cursor: crosshair;
  margin: 0 15px;
  padding: 30px;
  -webkit-animation: courses 5s linear 5s infinite;
  -moz-animation: courses 5s linear 5s infinite;
  -o-animation: courses 5s linear 5s infinite;
  animation: courses 5s linear 5s infinite;
}
.courses-item {
  margin: 20px 0;
  text-align: center;
}
.courses-link {
  cursor: crosshair;
  display: block;
  position: relative;
}
#courses img:hover {
  transform: scale(1.5, 1.5) translate(0, -12%);
}
#courses figcaption {
  font-size: 10px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  #courses figcaption {
    font-size: 13px;
  }
}
@-moz-keyframes courses {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes courses {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #fff;
  }
}
@-o-keyframes courses {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes courses {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #fff;
  }
}
.modal-content {
  opacity: 0.9;
  padding: 80px 0;
  text-align: center;
}
.modal-content h3 {
  font-size: 2.5em;
  margin: 0;
}
.modal-content figure {
  margin: 30px 0;
}
.close-modal {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 75px;
}
.close-modal:hover {
  opacity: 0.3;
}
.lr,
.rl {
  background-color: #122b40;
  height: 75px;
  width: 1px;
}
.lr {
  margin-left: 35px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1051;
}
.rl {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 1052;
}
#formations {
  background: url("../images/backgrounds/bg-d2.jpg") 50% 15%;
}
#formations .icons-fa:after {
  content: "\f19d";
}
#carousel {
  border: double 5px #122b40;
  box-shadow: 10px 10px 10px #000;
  margin: 0 15px;
}
.carousel-indicators li {
  border: solid 2px #2e6da4;
}
.carousel-indicators .active {
  background-color: #2e6da4;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: #2e6da4;
}
#projects {
  border-top: dashed 2px #122b40;
  border-bottom: dashed 2px #122b40;
}
#projects .icons-fa:after {
  content: "\f0e8";
}
#accordion {
  border: double 5px #122b40;
  box-shadow: 10px 10px 10px #000;
}
.panel-title {
  font-size: 18px;
}
table {
  border: solid 2px #2e6da4;
  box-shadow: 10px 10px 10px #000;
}
#projects p {
  background: rgba(255,255,255,0.6);
  border: solid 2px #2e6da4;
  box-shadow: 10px 10px 10px #000;
  font-size: 14px;
  margin: 20px 0;
  padding: 10px;
}
th {
  font-size: 13px;
}
td {
  font-size: 12px;
}
@media (min-width: 768px) {
  .panel-title {
    font-size: 20px;
  }
  #projects p {
    font-size: 16px;
  }
  th {
    font-size: 15px;
  }
  td {
    font-size: 14px;
  }
}
#collapseFED {
  background: url("../images/backgrounds/bg-p1.jpg") 50% 50%;
}
#collapseDWJ {
  background: url("../images/backgrounds/bg-p2.jpg") 50% 50%;
}
#collapseDV {
  background: url("../images/backgrounds/bg-p3.jpg") 50% 50%;
}
#collapseDAF {
  background: url("../images/backgrounds/bg-p4.jpg") 50% 50%;
}
#collapseBED {
  background: url("../images/backgrounds/bg-p5.jpg") 50% 50%;
}
#collapseEII {
  background: url("../images/backgrounds/bg-p6.jpg") 50% 50%;
}
#collapseFSD {
  background: url("../images/backgrounds/bg-p7.jpg") 50% 50%;
}
#contact {
  background: url("../images/backgrounds/bg-d3.jpg") 50% 50%;
}
#contact .icons-fa:after {
  content: "\f0e0";
}
.label-form-group input,
.label-form-group textarea {
  background: none;
  border: none;
  box-shadow: none !important;
  font-size: 18px;
  margin: -10px 0;
  padding: -10px;
  position: relative;
  bottom: 10px;
  z-index: 1;
}
.well-contact {
  border: double 5px #122b40;
  margin: 0 30px 30px 30px;
  -webkit-animation: little-opacity 5s linear 5s infinite;
  -moz-animation: little-opacity 5s linear 5s infinite;
  -o-animation: little-opacity 5s linear 5s infinite;
  animation: little-opacity 5s linear 5s infinite;
}
.label-form-group label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  position: relative;
  top: 10px;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  z-index: 0;
}
.label-form-group-with-value label {
  opacity: 1;
  top: 0;
}
.label-form-group-with-focus label {
  color: #2e6da4;
}
@-moz-keyframes little-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes little-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes little-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes little-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.network {
  background-color: #122b40;
  color: #fff;
  padding: 20px 0;
}
.network,
footer a,
.btn-network {
  cursor: crosshair;
}
.btn-network {
  border-radius: 100%;
  font-size: 20px;
  height: 50px;
  line-height: 45px;
  margin: 10px;
  text-align: center;
  width: 50px;
}
#codepen,
#codepen:active {
  background-color: #fff;
  border: solid 2px #000;
  color: #000;
}
#codepen:hover,
#codepen:focus {
  background-color: #000;
  border: solid 2px #fff;
  color: #fff;
}
#github,
#github:active {
  background-color: #fff;
  border: solid 2px #24292e;
  color: #24292e;
}
#github:hover,
#github:focus {
  background-color: #24292e;
  border: solid 2px #fff;
  color: #fff;
}
#freecodecamp,
#freecodecamp:active {
  background-color: #fff;
  border: solid 2px #006400;
  color: #006400;
}
#freecodecamp:hover,
#freecodecamp:focus {
  background-color: #006400;
  border: solid 2px #fff;
  color: #fff;
}
#stackoverflow,
#stackoverflow:active {
  background-color: #fff;
  border: solid 2px #f48024;
  color: #f48024;
}
#stackoverflow:hover,
#stackoverflow:focus {
  background-color: #f48024;
  border: solid 2px #fff;
  color: #fff;
}
#linkedin,
#linkedin:active {
  background-color: #fff;
  border: solid 2px #0077b5;
  color: #0077b5;
}
#linkedin:hover,
#linkedin:focus {
  background-color: #0077b5;
  border: solid 2px #fff;
  color: #fff;
}
#twitter,
#twitter:active {
  background-color: #fff;
  border: solid 2px #1daff5;
  color: #1daff5;
}
#twitter:hover,
#twitter:focus {
  background-color: #1daff5;
  border: solid 2px #fff;
  color: #fff;
}
.license {
  background-color: #2e6da4;
  padding: 10px 0;
}
.license a,
.license a:active {
  color: #000;
  cursor: help;
}
.license a:hover,
.license a:focus {
  color: #fff;
}
