/*** VARIABLES ***/

/* Fonts */

$main-font = 'Arima Madurai', Helvetica, sans-serif
$title-font = "Philosopher", Helvetica, sans-serif

/* Colors */

$main-color = #122b40
$second-color = #2e6da4
$github = #24292E
$freecodecamp = #006400
$stackoverflow = #F48024
$linkedin = #0077B5
$twitter = #1DAFF5

/* Effects */

$border = solid 2px
$box-shadow = 10px 10px 10px black

/*** GLOBAL ***/

/* Main */

body
  font-family $main-font

section
  padding 30px 0

.row
  margin 20px 0

/* Titles */

h1
h2
h3
h4
  font-family $title-font
  margin 0

h3
  text-transform uppercase

/* Font Awesome */

.icons-fa
  border $border $main-color
  max-width 250px

.icons-fa:after
  background white
  color $main-color
  font-family FontAwesome
  content "\f005"
  font-size 25px
  padding 0 5px
  position relative
  top -20px

/* Containers */

.well
  background white
  border $border $second-color
  box-shadow $box-shadow

/* Buttons */

.btn-outline
.btn-primary
  background-color white
  border $border $second-color
  box-shadow $box-shadow
  color $main-color
  font-size 20px
  margin-top 20px
  transition all 0.3s ease-in-out

.btn-outline:hover
.btn-outline:focus
.btn-outline:active
.btn-primary:hover
.btn-primary:focus
.btn-primary:active
  background-color $second-color
  border $border $main-color
  color white

/* Links */

a
  color $second-color

a:hover
a:focus
a:active
  color $main-color
  text-decoration none

/* Scroll top button */

.scroll-top
  height 50px
  position fixed
  right 10px
  bottom 25px
  width 50px
  z-index 1049

.scroll-top .btn
  border-radius 100%
  font-size 20px
  height 50px
  line-height 35px
  width 50px

/*** HEADER PART ***/

/* Navigation bar */

.navbar-custom
  background-color $main-color
  border none
  font-family $title-font
  font-weight 700
  text-transform uppercase

.navbar-nav
  letter-spacing 1px

/* Brand side */

.navbar-custom .navbar-brand
  color $second-color

.navbar-custom .navbar-brand:hover
.navbar-custom .navbar-brand:focus
.navbar-custom .navbar-brand:active
  color white

/* Navigation side */

.navbar-custom .navbar-nav li a
  color white

.navbar-custom .navbar-nav li a:hover
.navbar-custom .navbar-nav li a:focus
.navbar-custom .navbar-nav li a:active
  color $second-color

.navbar-custom .navbar-nav li.active a
.navbar-custom .navbar-nav li.active a:hover
.navbar-custom .navbar-nav li.active a:focus
.navbar-custom .navbar-nav li.active a:active
  background-color $second-color
  color white

/* Responsive menu */

.navbar-custom .navbar-toggle
  background-color white
  border $border $second-color
  color $main-color
  font-size 10px
  letter-spacing 1px
  text-transform uppercase

.navbar-custom .navbar-toggle:hover
.navbar-custom .navbar-toggle:focus
.navbar-custom .navbar-toggle:active
  background-color $second-color
  border $border white
  color white

/* Desktop effects */

@media (min-width 768px)
  .navbar-custom
    padding 20px 0
    -webkit-transition padding 0.3s
    -moz-transition padding 0.3s
    transition padding 0.3s

  .navbar-brand
    font-size 1.5em
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s

  .navbar-custom.affix
    padding 0

  .navbar-custom.affix .navbar-brand
    font-size 1.2em

/*** HOME PART ***/

#home
  background url("../images/background.jpg") top
  text-align center

#home .container
  padding-top 60px

#home img
  margin auto

/*** COURSE PART ***/

#course .icons-fa:after
  content "\f0a3"

.course-item
  margin 20px 0

.course-link
  display block
  position relative

/* Search icons */

.search-container
  background #2fc3a6
  height 100%
  opacity 0
  position absolute
  transition all ease 0.5s
  -webkit-transition all ease 0.5s
  -moz-transition all ease 0.5s
  width 100%

.search-container:hover
  opacity 0.8

.search-icon
  color white
  font-size 20px
  height 20px
  margin-top -30px
  position absolute
  text-align center
  top 50%
  width 100%

/*** MODAL PART ***/

.modal-content
  opacity 0.9
  padding 80px 0
  text-align center

.modal-content h3
  font-size 2.5em
  margin 0

.modal-content figure
  margin 20px 0

/* Close modal */

.close-modal
  background-color transparent
  cursor pointer
  height 75px
  position absolute
  top 10px
  right 10px
  width 75px

.close-modal:hover
  opacity 0.3

.lr
.rl
  background-color $main-color
  height 75px
  width 1px

.lr
  margin-left 35px
  transform rotate(45deg)
  -ms-transform rotate(45deg)
  /* IE 9 */
  -webkit-transform rotate(45deg)
  /* Safari and Chrome */
  z-index 1051

.rl
  transform rotate(90deg)
  -ms-transform rotate(90deg)
  /* IE 9 */
  -webkit-transform rotate(90deg)
  /* Safari and Chrome */
  z-index 1052

/*** PATH PART ***/

#path
  background url("../images/background.jpg") right

#path .icons-fa:after
  content "\f091"

/* Carousel */

.carousel-indicators li
  border $border $second-color

.carousel-indicators .active
  background-color $second-color

.glyphicon-chevron-left
.glyphicon-chevron-right
  color $second-color

/*** DEGREE PART ***/

#degree .icons-fa:after
  content "\f19d"

.panel-title
  font-size 1.5em

table
  margin 10px 0

/*** CONTACT PART ***/

#contact
  background url("../images/background.jpg") bottom

#contact .icons-fa:after
  content "\f0e0"

/* Fields */

.label-form-group input
.label-form-group textarea
  background none
  border none
  box-shadow none !important
  font-size 18px
  margin -10px 0
  padding -10px
  position relative
  bottom 10px
  z-index 1

/* Labels */

.label-form-group label
  display block
  font-size 12px
  line-height 20px
  opacity 0
  position relative
  top 10px
  -webkit-transition top 0.3s ease,opacity 0.3s ease
  -moz-transition top 0.3s ease,opacity 0.3s ease
  -ms-transition top 0.3s ease,opacity 0.3s ease
  transition top 0.3s ease,opacity 0.3s ease
  z-index 0

.label-form-group-with-value label
  opacity 1
  top 0

.label-form-group-with-focus label
  color $second-color

/*** FOOTER PART ***/

/* Networks */

.network
  background-color $main-color
  color white

.btn-network
  border-radius 100%
  font-size 20px
  height 50px
  line-height 45px
  margin 10px
  text-align center
  width 50px

/* CodePen */

#codepen
  background-color white
  border $border black
  color black

#codepen:hover
  background-color black
  border $border white
  color white

/* GitHub */

#github
  background-color white
  border $border $github
  color $github

#github:hover
  background-color $github
  border $border white
  color white

/* Free Code Camp */

#freecodecamp
  background-color white
  border $border $freecodecamp
  color $freecodecamp

#freecodecamp:hover
  background-color $freecodecamp
  border $border white
  color white

/* Stack Overflow */

#stackoverflow
  background-color white
  border $border $stackoverflow
  color $stackoverflow

#stackoverflow:hover
  background-color $stackoverflow
  border $border white
  color white

/* LinkedIn */

#linkedin
  background-color white
  border $border $linkedin
  color $linkedin

#linkedin:hover
  background-color $linkedin
  border $border white
  color white

/* Twitter */

#twitter
  background-color white
  border $border $twitter
  color $twitter

#twitter:hover
  background-color $twitter
  border $border white
  color white

/* License */

.license
  background-color $second-color

.license a
  color black

.license a:hover
.license a:focus
.license a:active
  color white
