/*** VARIABLES ***/

/* BackGrounds */
$bg-main = 50% 50%

/* Main BackGrounds */
$bg-d1 = url("../images/backgrounds/bg-d1.jpg") 50% 51.5%
$bg-d2 = url("../images/backgrounds/bg-d2.jpg") 10% 15%
$bg-d3 = url("../images/backgrounds/bg-d3.jpg") $bg-main
$bg-d4 = url("../images/backgrounds/bg-d4.jpg") $bg-main
$bg-d5 = url("../images/backgrounds/bg-d5.jpg") $bg-main
$bg-d6 = url("../images/backgrounds/bg-d6.jpg") $bg-main

/* Secondary BackGrounds */
$bg-p01 = url("../images/backgrounds/bg-p01.jpg") $bg-main
$bg-p02 = url("../images/backgrounds/bg-p02.jpg") $bg-main
$bg-p03 = url("../images/backgrounds/bg-p03.jpg") $bg-main
$bg-p04 = url("../images/backgrounds/bg-p04.jpg") $bg-main
$bg-p05 = url("../images/backgrounds/bg-p05.jpg") $bg-main
$bg-p06 = url("../images/backgrounds/bg-p06.jpg") $bg-main
$bg-p07 = url("../images/backgrounds/bg-p07.jpg") $bg-main
$bg-p08 = url("../images/backgrounds/bg-p08.jpg") $bg-main
$bg-p09 = url("../images/backgrounds/bg-p09.jpg") $bg-main
$bg-p10 = url("../images/backgrounds/bg-p10.jpg") $bg-main

/* Fonts */
$main-font = 'Arima Madurai', Helvetica, sans-serif
$title-font = 'Philosopher', Georgia, serif

/* Colors */
$main-color = #122B40
$second-color = #2E6DA4
$github = #24292E
$freecodecamp = #006400
$stackoverflow = #F48024
$linkedin = #0077B5
$twitter = #1DAFF5

/* Borders */
$dashed = dashed 2px
$double = double 5px
$solid = solid 2px

/* Shadow */
$box-shadow = 10px 10px 10px black

/* Animation */
$linear = 5s linear
