/*** VARIABLES ***/

/* BackGrounds */
$bg-main = 50% 50%

/* Main BackGrounds */
$bg-d1 = url("../images/backgrounds/bg-d1.jpg") 50% 49%
$bg-d2 = url("../images/backgrounds/bg-d6.jpg") 50% 44%
/* $bg-d3 = url("../images/backgrounds/bg-d3.jpg") 50% 48% */

/* Secondary BackGrounds */
$bg-p1 = url("../images/backgrounds/bg-p1.jpg") $bg-main
$bg-p2 = url("../images/backgrounds/bg-p2.jpg") $bg-main
$bg-p3 = url("../images/backgrounds/bg-p3.jpg") $bg-main
$bg-p4 = url("../images/backgrounds/bg-p4.jpg") $bg-main
$bg-p5 = url("../images/backgrounds/bg-p5.jpg") $bg-main
$bg-p6 = url("../images/backgrounds/bg-p6.jpg") $bg-main
$bg-p7 = url("../images/backgrounds/bg-p7.jpg") $bg-main


/* Fonts */
$main-font = 'Arima Madurai', Helvetica, sans-serif
$title-font = 'Philosopher', Georgia, serif

/* Colors */
$main-color = #122B40
$second-color = #2E6DA4
$github = #24292E
$freecodecamp = #006400
$stackoverflow = #F48024
$paypal = #001F67
$linkedin = #0077B5
$twitter = #1DAFF5

/* Borders */
$dashed = dashed 2px
$double = double 5px
$solid = solid 2px

/* Shadow */
$box-shadow = 10px 10px 10px black

/* Animation */
$linear = 5s linear
