//- Développeur d'Application Frontend part
.panel.panel-info
  #headingDAF.panel-heading(role="tab")
    h4.panel-title
      a.collapsed(href="#collapseDAF" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseDAF")  OC Développeur d'Application Frontend

  #collapseDAF.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingDAF")
    .panel-body
      //- 2nd Degree introduction
      p Voici les 9 projets de la formation
        a(target="_blank" href="https://openclassrooms.com/paths/developpeur-se-d-application-frontend")  Développeur d'Application Frontend
        | , enregistrée au
        a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=27099")  RNCP
        | , et proposée par
        a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms...

      //- 2nd Degree projects list
      .col-md-offset-2.col-md-8
        table.table.table-striped.table-hover
          thead
            tr.danger
              th.text-center #
              th.text-center Projet
              th.text-center Etat
          tbody
            tr.success
              td 1
              td Apprendre à apprendre
              td
            tr.warning
              td 2
              td Intégrez un thème WordPress pour un client
              td
            tr.success
              td 3
              td Analysez les besoins de votre client pour son festival de films
              td
            tr.warning
              td 4
              td Concevez la solution technique d'une application de restauration en ligne
              td
            tr.success
              td 5
              td Imaginez un générateur de citations
              td
            tr.warning
              td 6
              td Créez un jeu de plateau tour par tour en JS
              td
            tr.success
              td 7
              td Lancez votre propre site d'avis de restaurants
              td
            tr.warning
              td 8
              td Reprenez et améliorez un projet existant
              td
            tr.success
              td 9
              td Faites la veille technologique de votre secteur et restez compétitif !
              td
