//- "Expert en Ingénierie Informatique" formation
.panel.panel-info
  #headingEII.panel-heading(role="tab")

    //- "Expert en Ingénierie Informatique" title
    h4.panel-title
      a.collapsed(href="#collapseEII" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseEII")  OC Expert en Ingénierie Informatique

  //- "Expert en Ingénierie Informatique" projects
  #collapseEII.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingEII")
    .panel-body

      //- "Expert en Ingénierie Informatique" introduction
      p Voici les 9 projets de la formation
        a(target="_blank" href="https://openclassrooms.com/paths/expert-e-en-ingenierie-informatique")  Expert en Ingénierie Informatique
        | , enregistrée au
        a(target="_blank" href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=21947")  RNCP
        | , et proposée par
        a(target="_blank" href="https://openclassrooms.com")  OpenClassrooms
        |  en partenariat avec
        a(target="_blank" href="http://www.sciences-u-lyon.fr/")  Sciences-U Lyon...

      //- "Expert en Ingénierie Informatique" projects list
      .col-md-offset-2.col-md-8
        table.table.table-striped.table-hover
          thead
            tr.danger
              th.text-center #
              th.text-center Projet
              th.text-center Etat
          tbody
            tr.success
              td 1
              td Apprendre à apprendre
              td
            tr.warning
              td 2
              td 24h dans la vie d'un expert
              td
            tr.success
              td 3
              td Proposez une organisation pour une équipe technique
              td
            tr.warning
              td 4
              td Planifiez un nouveau projet informatique
              td
            tr.success
              td 5
              td Montez une architecture serveur sur le Cloud
              td
            tr.warning
              td 6
              td Lancez votre startup en tant que CTO
              td
            tr.success
              td 7
              td Définissez le périmètre d'une application de gestion
              td
            tr.warning
              td 8
              td Développez votre propre projet d'application mobile
              td
            tr.success
              td 9
              td Faites la veille technologique de votre secteur et restez compétitif !
              td
