//- Footer part
block foot

  footer.text-center

    //- Footer top
    .network
      .container
        .row

          //- Code icons links
          .col-xs-4
            h4 Code
            
            //- CodePen
            a(target="_blank" href="https://codepen.io/philippebeck" title="CodePen")
              span#codepen.fa.fa-codepen.fa-2x.btn-network.btn-outline(aria-hidden="true")
              
            //- GitHub
            a(target="_blank" href="https://github.com/philippebeck" title="GitHub")
              span#github.fa.fa-github.fa-2x.btn-network.btn-outline(aria-hidden="true")

          //- Community icons links
          .col-xs-4
            h4 Community
              
            //- Free Code Camp
            a(target="_blank" href="https://www.freecodecamp.com/philippebeck" title="Free Code Camp")
              span#freecodecamp.fa.fa-free-code-camp.fa-2x.btn-network.btn-outline(aria-hidden="true")

            //- Stack OverFlow
            a(target="_blank" href="http://stackoverflow.com/story/philippebeck" title="Stack OverFlow")
              span#stackoverflow.fa.fa-stack-overflow.fa-2x.btn-network.btn-outline(aria-hidden="true")

          //- Social icons links
          .col-xs-4
            h4 Social
            
            //- LinkedIn
            a(target="_blank" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn")
              span#linkedin.fa.fa-linkedin.fa-2x.btn-network.btn-outline(aria-hidden="true")
              
            //- Twitter
            a(target="_blank" href="https://twitter.com/philippepjbeck" title="Twitter")
              span#twitter.fa.fa-twitter.fa-2x.btn-network.btn-outline(aria-hidden="true")

    //- License part
    .license
      .container
        .row
          .col-lg-12
            a(target="_blank" href="https://github.com/philippebeck/philippebeck/blob/master/LICENSE" title="License") GPL-3.0 &copy; #{title} 2017
