//- Footer
block foot
  footer#footer.container-fluid.text-center

    //- Network part
    .network.row
      .col-lg-12

        //- Mailto icon link
        a(data-placement="top" data-toggle="tooltip" href="mailto:philippe@philippebeck.net" target="_blank" title="Email")
          span#mailto.fa.fa-envelope.fa-2x.btn-network.btn-outline(aria-hidden="true")

        //- LinkedIn icon link
        a(data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/philippebeck" target="_blank" title="LinkedIn")
          span#linkedin.fa.fa-linkedin.fa-2x.btn-network.btn-outline(aria-hidden="true")

        //- GitHub icon link
        a(data-placement="top" data-toggle="tooltip" href="https://github.com/philippebeck" target="_blank" title="GitHub")
          span#github.fa.fa-github.fa-2x.btn-network.btn-outline(aria-hidden="true")

        //- CodePen icon link
        a(data-placement="top" data-toggle="tooltip" href="https://codepen.io/philippebeck" target="_blank" title="CodePen")
          span#codepen.fa.fa-codepen.fa-2x.btn-network.btn-outline(aria-hidden="true")

        //- Free Code Camp icon link
        a(data-placement="top" data-toggle="tooltip" href="https://www.freecodecamp.com/philippebeck" target="_blank" title="Free Code Camp")
          span#freecodecamp.fa.fa-free-code-camp.fa-2x.btn-network.btn-outline(aria-hidden="true")

        //- Stack OverFlow icon link
        a(data-placement="top" data-toggle="tooltip" href="http://stackoverflow.com/story/philippebeck" target="_blank" title="Stack OverFlow")
          span#stackoverflow.fa.fa-stack-overflow.fa-2x.btn-network.btn-outline(aria-hidden="true")

    //- License part
    .license.row
      .col-lg-12
        a(data-placement="top" data-toggle="tooltip" href="https://github.com/philippebeck/philippebeck/blob/master/LICENSE" target="_blank" title="License") GPL-3.0 &copy; #{title} 2017
