footer.text-center

  //- Footer top
  .footer-above
    .container
      .row

        //- Network part
        .footer-col.col-lg-12
          ul.list-inline

            //- Twitter icon link
            li
              a(target="_blank" href="https://twitter.com/philippepjbeck" title="Twitter")
                span.fa.fa-twitter.fa-2x.btn-social.btn-outline(aria-hidden="true")

            //- LinkedIn icon link
            li
              a(target="_blank" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn")
                span.fa.fa-linkedin.fa-2x.btn-social.btn-outline(aria-hidden="true")

            //- Stack Overflow icon link
            li
              a(target="_blank" href="http://stackoverflow.com/story/philippebeck" title="Stack Overflow")
                span.fa.fa-stack-overflow.fa-2x.btn-social.btn-outline(aria-hidden="true")

            //- GitHub icon link
            li
              a(target="_blank" href="https://github.com/philippebeck" title="GitHub")
                span.fa.fa-github.fa-2x.btn-social.btn-outline(aria-hidden="true")

  //- Footer bottom
  .footer-below
    .container
      .row

        //- Credit part
        .col-lg-12
          a(target="_blank" href="https://github.com/philippebeck/philippebeck/blob/master/LICENSE" title="Licence") GPL-3.0 &copy philippebeck.net 2017
