//- Footer part
block foot

  footer.text-center

    //- Footer top
    .footer-top
      .container
        .row

          //- GitHub icon link
          .col-xs-4
            h3 Code
            a(target="_blank" href="https://github.com/philippebeck/philippebeck" title="GitHub")
              span.fa.fa-github.fa-2x.btn-social.btn-outline(aria-hidden="true")

          //- LinkedIn icon link
          .col-xs-4
            h3 CV
            a(target="_blank" href="https://www.linkedin.com/in/philippebeck" title="LinkedIn")
              span.fa.fa-linkedin.fa-2x.btn-social.btn-outline(aria-hidden="true")

          //- PayPal part
          .col-xs-4
            h3 Donation
            a(target="_blank" href="https://www.paypal.me/philippepjbeck" title="Paypal")
              span.fa.fa-paypal.fa-2x.btn-social.btn-outline(aria-hidden="true")

    //- Footer bottom
    .footer-bottom
      .container
        .row

          //- Credit part
          .col-lg-12
            a(target="_blank" href="https://github.com/philippebeck/philippebeck/blob/master/LICENSE" title="Licence") GPL-3.0 &copy; philippebeck.net 2017
