header

  //- Top navigation
  nav#header.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      .navbar-header.page-scroll
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav")
          span.sr-only Toggle navigation
          span.fa.fa-bars  Menu

        //- Brand
        a.navbar-brand(data-placement="bottom" data-toggle="tooltip" href="#page-top" title="Accueil") philippebeck.net

      //- Right side
      #nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          //- Course button
          li.page-scroll
            a(href="#course")
              span.fa.fa-certificate(aria-hidden="true")  Cours

          //- Formation button
          li.page-scroll
            a(href="#formation")
              span.fa.fa-graduation-cap(aria-hidden="true")  Formations

          //- Project button
          li.page-scroll
            a(href="#project")
              span.fa.fa-sitemap(aria-hidden="true")  Projets

          //- Contact button
          li.page-scroll
            a(href="#contact")
              span.fa.fa-envelope(aria-hidden="true")  Contact
