header

  //- Top navigation
  nav#offset.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      .navbar-header.page-scroll
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav")
          span.sr-only Toggle navigation
          span.fa.fa-bars  Menu

        //- Brand
        a.navbar-brand(href="#page-top" title="Accueil") philippebeck.net

      //- Right side
      #nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          //- Certificate button
          li.page-scroll
            a(href="#certificate")
              span.fa.fa-certificate(aria-hidden="true")  Certificats

          //- Diploma button
          li.page-scroll
            a(href="#diploma")
              span.fa.fa-trophy(aria-hidden="true")  Parcours

          //- Degree button
          li.page-scroll
            a(href="#degree")
              span.fa.fa-graduation-cap(aria-hidden="true")  Diplômes

          //- Contact button
          li.page-scroll
            a(href="#contact")
              span.fa.fa-envelope(aria-hidden="true")  Contact
