header

  //- Top navigation
  nav#offset.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      .navbar-header.page-scroll
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav")
          span.sr-only Toggle navigation
          span.fa.fa-bars  Menu

        //- Logo
        a#logo.navbar-brand(href="#page-top" title="Accueil")
          img(src="/images/logo.png" alt="Logo")

      //- Right side
      #nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          //- Courses button
          li.page-scroll
            a(href="#courses")
              span.fa.fa-certificate(aria-hidden="true")  Cours

          //- Paths button
          li.page-scroll
            a(href="#paths")
              span.fa.fa-graduation-cap(aria-hidden="true")  Parcours

          //- Projects button
          li.page-scroll
            a(href="#projects")
              span.fa.fa-calendar-check-o(aria-hidden="true")  Projets

          //- Contact button
          li.page-scroll
            a(href="#contact")
              span.fa.fa-address-card-o(aria-hidden="true")  Contact
