//- Header
header

  //- Navigation menu
  nav#header.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      .navbar-header.page-scroll
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav")
          span.sr-only Toggle navigation
          span.fa.fa-bars  Menu

        //- Navigation brand
        a.navbar-brand(data-placement="bottom" data-toggle="tooltip" href="#page-top" title="Accueil")
          span.fa.fa-cog.fa-spin
          |  Philippe Beck

      //- Navigation right side
      #nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right

          //- Portfolio link
          li.page-scroll
            a(href="#portfolio")
              span.fa.fa-suitcase(aria-hidden="true")  Portfolio

          //- Degree link
          li.page-scroll
            a(href="#degree")
              span.fa.fa-graduation-cap(aria-hidden="true")  Formation

          //- Projects link
          li.page-scroll
            a(href="#projects")
              span.fa.fa-sitemap(aria-hidden="true")  Projets

          //- Paths link
          li.page-scroll
            a(href="#paths")
              span.fa.fa-road(aria-hidden="true")  Parcours

          //- Courses link
          li.page-scroll
            a(href="#courses")
              span.fa.fa-book(aria-hidden="true")  Cours

          //- Contact link
          //- li.page-scroll
            a(href="#contact")
              span.fa.fa-envelope(aria-hidden="true")  Contact
